[2019-01-21 11:09] jcoupey commented on #203
@sfendrich thanks for the PR! I'll see if I can manage to setup an ORS server locally to test this out.

[2019-01-22 08:09] sfendrich commented on #203
If you have any problems with the ORS setup, don't hesitate to ask me for help.

[2019-01-22 21:04] jcoupey commented on #203
@sfendrich thanks, I fiddled a bit with errors with the maven build but managed to get things going using docker.

[2019-01-22 21:41] jcoupey commented on #203
I tested the branch locally and everything works fine. I just have a couple comments/questions in the PR review.

I was wondering how ORS deals with absent values in the matrix, but it turns out the existing `null`-handling code works out of the box (handy for example for points outside the dataset). I also checked plotting solutions through the frontend and everything is fine with the encoded geo

[2019-01-23 15:32] jcoupey commented on #203
I just merged #204 so this is currently available in `master` and will be part of the next release.

[2019-01-23 15:32] #203 closed

[2019-01-23 15:35] jcoupey commented on #192
Closing here as not actionable (no support for matrix requests in GraphHopper). Matrix requests are possible using OpenRouteService (based on a fork of GraphHopper), and support for ORS has been added in #204.

[2019-01-23 15:35] #192 closed

[2019-02-05 12:31] sfendrich opened #206 "Update to ORS API v2"
Update the ORS backend (#203) to the new ORS API version 2.

[2019-02-05 12:57] TeodoraB21 opened #207 "Error when building on Windows"
Hello!
I tried to build the project on Windows and I receive linking errors. I don't want to use it with osrm, so I didn't add that lib. I added the boost_system.lib and pthreads.lib and libvroom.lib.
I don't know if the libvroom.lib is created correctly, because when I built it, it didn't created anything in bin/vroom.
Do I have to add some more libraries or what should I do?

[2019-02-05 13:09] jcoupey commented on #207
I have virtually no experience building anything on windows but maybe others can help here. In any case, if you have an explicit error message from your compiler, please post it here.

For what it's worth, there is no `libvroom.lib` file: if you successfully run `make` from the `src` folder, you end up with the executable at `bin/vroom` and a static library at `lib/libvroom.a` (you only need that

[2019-02-06 06:58] TeodoraB21 commented on #207
I need the lib, because I want to run the example.

This is the output of mingw32-make:
es/cl_args.o utils/version.o utils/input_parser.o utils/exception.o utils/output_json.o -lboost_system -lpthread
routing/routed_wrapper.o:routed_wrapper.cpp:(.text+0x121): undefined reference to `_imp__WSAStartup@8'
routing/routed_wrapper.o:routed_wrapper.cpp:(.text+0x4d2): undefined reference to `_imp__WSAClea

[2019-02-06 09:51] jcoupey commented on #207
Thanks for reporting the output. The linker is unable to find the definition for some functions used by `Boost.asio` for routing requests, so it looks like there is some extra information required on windows...

I can't really help much more here, but maybe you could dig into how to setup `Boost.asio` on windows, or similar issues: searching for "undefined reference to _imp__getaddrinfo undefined

[2019-02-06 15:40] jcoupey commented on #201
Done in #205

[2019-02-06 15:40] #201 closed

[2019-02-06 15:40] jcoupey commented on #202
Done in #205

[2019-02-06 15:40] #202 closed

[2019-02-07 17:51] jcoupey commented on #182
Done over in #208. The possible status code in output are:

| Value         | Status |
| ------------- | ----------- |
| `0` | no error raised |
| `1` | internal error |
| `2` | input error |
| `3` | routing error |

I'll file an issue in the `vroom-express` repo to track handling the http error codes based on that.

[2019-02-07 17:51] #182 closed

[2019-02-08 07:21] emocanu opened #209 "Error: 0 on local demo"
Hi,
I've installed OSRM and launched it:

The curl related line is because I've tested it with curl.

The vroom-express is started, it does not displays anything but:

vroom-express listening on port 3000!

The frontend is also running:

beefy (v2.1.8) is listening on http://127.0.0.1:9966
404    9ms        12B  /
404    1ms        12B  /
404    1ms        12B  /
200   75ms       592B  /
200    2m

[2019-02-08 08:58] jcoupey commented on #209
If you don't see the `table` and `route` requests logged by `osrm-routed`, it means the problem is that VROOM is unable to reach OSRM. This may be due to recent option changes (see https://github.com/VROOM-Project/vroom-express/issues/12), depending on the `vroom` and `vroom-express` versions you use.
- if you built `vroom` from current `master`, then you should checkout current `master` for `vroo

[2019-02-08 09:05] emocanu commented on #209
I built all from the master (OSRM, VROOM, vroom-express, vroom-frontend).
Yes, osrm-routed does not log `table` and `route` request.

[2019-02-08 09:13] jcoupey commented on #209
OK, so not a version problem.

Next step is to look at the POST request sent to localhost:3000 from the frontend using your browser's dev tools. Can you post the response?

You can also try narrowing down the problem by bypassing `vroom-frontend` and `vroom-express`: copy the POST data in a `input.json` file and run `vroom -i input.json` on it.

[2019-02-08 09:33] emocanu commented on #209
I used the second advice of you.
It seems to me that VROOM is working fine.

OSRM logged:
`[info] 08-02-2019 09:21:25 83.6708ms 127.0.0.1 - - 200 /table/v1/car/-2.263184,51.859532;-2.263184,51.859532;-1.994019,52.439269`

I can't attach a json file so I'll dump them here:
Input:
`{"jobs":[{"id":1,"description":"Green Drive, Birmingham","location":[-1.9940185546875002,52.43926935464697]}],
 "vehicl

[2019-02-08 09:34] emocanu commented on #209
Sorry, wrong button.

[2019-02-08 09:59] jcoupey commented on #209
OK, so far so good. What does the POST request response looks like as seen from your browser running the frontend?

[2019-02-08 10:30] emocanu commented on #209
The thing is that I have only ssh access to that server.
I can use the demo from outside, but not really on that computer.
I started to log from JS in order to find the issue.
This is from vroom-frontend\src\utils\solution_handler.js, before
`xhttp.send(JSON.stringify(input));`

`{"jobs":[{"id":1,"description":"Green Drive, Birmingham","location":[-1.9940185546875002,52.43926935464697]}],"vehicles

[2019-02-08 11:33] emocanu commented on #209
Update: I installed Chrome and used CORS.
I've got 2 errors when to compute the route.
I attach them as log file saved from Chrome console.

[1549625220484.log](https://github.com/VROOM-Project/vroom/files/2844895/1549625220484.log)

[2019-02-08 12:00] jcoupey commented on #209
From your log:
[code]

For some reason related to your machine configuration, the browser can't connect to localhost:3000. I don't think there is much we can do on the VROOM side here.

[2019-02-08 12:16] emocanu commented on #209
Yeah, I thought that too. However:
$ sudo netstat -ntlp | grep LISTEN
[code]

Thank you.

[2019-02-08 12:52] jcoupey commented on #209
Well, you can always check that `vroom-express` is reachable using curl:
[code]

In that case, the problem only comes from the browser running the frontend.

[2019-02-08 13:51] emocanu commented on #209
Thank you. Then it must be the browser. But the map.vroom-project.org works in the same browser.

The command you suggested returns:
`
{"code":0,"summary":{"cost":7528,"unassigned":0,"service":0,"duration":7528,"waiting_time":0,"distance":164710,"computing_times":{"loading":52,"solving":0,"routing":17}},"unassigned":[],"routes":[{"vehicle":1,"cost":7528,"service":0,"duration":7528,"waiting_time":0

[2019-02-08 15:16] jcoupey commented on #209
So everything works fine from the vroom-express perspective, just the browser is unable to access localhost. Closing here, feel free to re-open if you have some update.

[2019-02-08 15:16] #209 closed

[2019-02-11 08:09] jcoupey opened #210 "Route initialization with nearest job in heuristics"
The `INIT::NEAREST` initialization scheme is currently used for the clustering heuristic (CVRP only) as a way to seed the clusters with the nearest compatible job. On the other hand, Solomon-inspired heuristics (basic and with dynamic vehicle choice) allow other route seeding strategies, but not `INIT::NEAREST`, while this would be handy for some problem settings.

[2019-02-12 13:10] sinaabadi opened #211 "Support multiple time windows for vehicles"
Hi @jcoupey
Vehicle may work in two different time shifts e.g. 8:00 AM - 11:00 AM and 4:00 PM - 8:00 PM.
Does vroom support this feature (Multiple time windows)?

[2019-02-12 16:51] jcoupey commented on #211
Hi, the rationale here is that a vehicle with different time shifts can still be modelled using one entry per time window in `vehicles` (re-using the same vehicle id is not a problem). More background on this choice back at https://github.com/VROOM-Project/vroom/issues/136#issuecomment-406896877.

Let me know if you see any situation related to this that the current API does not allow to model.

[2019-02-13 16:18] jcoupey commented on #207
@TeodoraB21 did you manage to solve your linking problem? If there is nothing more we can do to help on the VROOM side, I think we should close this ticket.

[2019-02-13 16:21] jcoupey commented on #190
Closing here as it seems to come down to filtering out input data. Feel free to re-open if required.

[2019-02-13 16:21] #190 closed

[2019-02-13 16:26] jcoupey commented on #185
@Eichenherz @hyzajabada any update on your tests? I don't mind leaving this ticket open for future feedback but please let me know if we should close.

[2019-02-13 16:34] hyzajabada commented on #185
@jcoupey I'm planning to run them at some point, but I'm incredibly busy at the moment so don't know when I'll be able to. As far as I'm concerned you can close it, I assume there is an option to re-open if and when I get to it?

[2019-02-13 16:42] jcoupey commented on #185
@hyzajabada thanks for your answer, I was just asking in order to close if you had given up on this. It's best in my opinion to leave it open if it tracks something that is planned, even remotely.

[2019-02-18 14:14] #200 closed

[2019-02-19 08:45] TeodoraB21 commented on #207
i solved it.

[2019-02-19 08:50] TeodoraB21 opened #214 "Distance optimization"
Can I optimize the route after the distance, and not after time?

I want to set a distance matrix, and to receive the shortest distance between all the locations.

[2019-02-19 14:19] jcoupey commented on #207
@TeodoraB21 nice to know, you're probably the first to build on Windows. Could you maybe give an hint on how you solved the problem so that others running into this issue could find a solution?

[2019-02-19 14:40] jcoupey commented on #214
Not out-of-the-box, but there are two ways that could work depending on the kind of problems you want to solve:

- use the built-in [`matrix` key](https://github.com/VROOM-Project/vroom/blob/master/docs/API.md#matrix) in input
- adjust the releveant routing wrapper in VROOM (e.g. https://github.com/VROOM-Project/vroom/blob/master/src/routing/routed_wrapper.cpp if you're using `osrm-routed`) to que

[2019-02-19 14:56] jcoupey commented on #214
Also probably worth trying to make this happen at the routing level. If you're running on top of OSRM, you can adjust [the profile](https://github.com/Project-OSRM/osrm-backend/blob/2c7c18fd24f9a46de04c935126fc29992f57113f/profiles/car.lua#L23) to compute shortest routes based on distance.

We'd then still be optimizing on durations within VROOM, but based on travel-times for shortest distance tri

[2019-02-19 14:57] jcoupey commented on #211
Closing here. @sinaabadi feel free to re-open for any follow-up question.

[2019-02-19 14:57] #211 closed

[2019-02-20 06:39] TeodoraB21 commented on #214
This is actually the problem: I tried to set the matrix, but I also need to set some time constraints, and the result was bad.
Also, I don't use OSRM.

[2019-02-20 07:13] TeodoraB21 commented on #207
I used Visual Studio. I added only the .cpp files (without the main and the example). I made the project to be a .lib, I set the "additional include directories" the path to include/rapidjson, /src, and /boost. At "preprocessor definitions" I set USE_LIBOSRM=false, because I didn't want to use the OSRM. There are some .cpp files that have the same name, so I renamed them. And the I built the proje

[2019-02-20 09:16] jcoupey commented on #207
Thanks for the pointers.

[2019-02-20 09:16] #207 closed

[2019-02-20 09:35] jcoupey commented on #214
You could adjust the current codebase to supply two distinct matrices. One for travel times, used in all time validity checks. The other one would hold the costs to take into account in all evaluations (heuristic choices and local search operator gains).

Before getting into this, I'd first try to evaluate the results when providing a travel-time matrix that is based on shortest distance trips (se

[2019-02-22 09:11] gitbitlit commented on #162
As a newbie to VRP, my questions may be dumb, i sincerely appreciate any help.

1. Does `time_window` for trucks, `time_windows` for jobs works with custom travel time matrix ?
2. If units of custom travel time matrix is in minutes, does that mean time window numbers too should be in minutes ?
3. Each time window with in `time_windows` of a job denotes accepted delivery times of that job at its lo

[2019-02-22 17:29] jcoupey commented on #162
1. Yes, no problem with using timing constraints along with a custom matrix, provided the matrix values are consistent (units and reference).

2. Yes. The API documentation states that "all timings are in seconds". More precisely it's required to use seconds with OSRM, as the retrieved travel times in the matrix are in seconds. If you input your own matrix, you can use any unit provided it's consi

[2019-02-26 10:30] gitbitlit commented on #162
As I failed to pinpoint my ambiguity, so i expressed it in 4 points. Really appreciate your point by point reply. Thank you.

Before getting back to this thread, I tried multiple combinations of capacities and time windows on demo server at map.vroom-project.org

Still, I am yet to understand.

At this point I believe, it is beyond my capacities to explain this in text/script, so I am resorting to

[2019-02-26 13:08] gitbitlit commented on #162
To my surprise, the same sample request submitted to vroom binary v1.3.0 running on AWS Linux giving us the expected results.  i.e 3 trucks dispatched to 3 job locations

Solution response file from vroom binary v1.3.0 attached
[vrp_tw_3_trucks_3_jobs_v1.3.0.txt](https://github.com/VROOM-Project/vroom/files/2905538/vrp_tw_3_trucks_3_jobs_v1.3.0.txt)

[2019-02-26 20:36] jcoupey commented on #162
@gitbitlit the purpose of the demo frontend at http://map.vroom-project.org/ is to show optimization on top of OSRM real-life routing. Any problem you input there will go through the OSRM pipeline, so in your case the `matrix` and `location_index` keys are completely ignored. The cost matrix is recomputed with OSRM **in seconds**, which explain that the problem is not feasible with your initial ti

[2019-02-27 09:29] gitbitlit commented on #162
Thank you @jcoupey

[2019-02-27 10:13] #210 closed

[2019-02-27 17:16] jcoupey opened #216 "Pick heuristic parameters via command-line"
For debugging purposes, it would be convenient to be able to set the heuristic parameters with a command-line flag.

[2019-02-28 16:37] jcoupey commented on #216
This landed with #217. I didn't update the `-h` usage instructions with the new `-e` option because it's  only meant for debugging purposes.

[2019-02-28 16:37] #216 closed

[2019-03-04 08:22] nilsnolde opened #218 "Ability to add endpoint slug as argument"
We face the problem, that ORS provides different slugs for the Matrix endpoint before the endpoint name, depending on the service provider: no slug for [hosted](https/:openrouteservice.org/), `/openrouteservice-5.0/` for local server, `/ors/` for Docker container. Admittedly, that's not ideal.
However, the same problem applies to OSRM, in case one would like to use `vroom` with Mapbox OSRM matrix

[2019-03-04 11:51] jcoupey commented on #218
Adding parameters for API keys might make sense at some point, but I think we should focus first on dealing with the required changes in URLs so that everything works with a local routing server.

Full URL for matrix and routing requests used inside VROOM:
- OSRM: `host:port/service/v1/profile/...`
- ORS 5: `host:port/base/v2/service/profile`

where the `base` part for ORS can be empty,  `openrout

[2019-03-04 12:21] nilsnolde commented on #218
Yes, agreed.

That's what I thought as well. Although in the meantime, we can resolve the issue with [#432](https://github.com/GIScience/openrouteservice/issues/432) on our end. At least for the local case, Docker and system installations would go with `/ors/`. Which means it could be hard-coded in the ORS wrapper and sort of resolve this issue.

If remote services should be supported, your descri

[2019-03-04 18:24] jcoupey commented on #218
Great! The plan here was to support ORS as of version 5 in the next release (via #215), not bothering with backward compatibility with the ORS 4.* series. So I'd be inclined to keep the hard-coded `/ors/` part of the URL for our next release, which would mean that everything works out-of-the-box for a local routing server running ORS 5.1.

Then we can focus on the remote service part (based on ORS

[2019-03-05 06:54] nilsnolde commented on #218
Sounds great @jcoupey! Thanks for running such an open and collaborative project!

[2019-03-05 08:22] jcoupey commented on #218
OK, so closing here as it's probably clearer to have a dedicated ticket for the API key part. @nilsnolde feel free to open one if you have time, I'll flag it for the v1.5 milestone.

[2019-03-05 08:22] #218 closed

[2019-03-06 18:22] nilsnolde opened #219 "Ability to add remote matrix providers"
Ref. #218.

To be able to run `vroom` locally, but use a remote `matrix` provider, such as Mapbox or openrouteservice, we'd have to be able to:

1. specify a host-dependent endpoint name, e.g. `table` for OSRM local, `matrix-service` for Mapbox OSRM remote, which could also contain a host dependent slug, e.g. ORS local is `http://localhost/ors/matrix`, remote API is `https://api.openrouteservice.o

[2019-03-09 14:32] 123bistami opened #220 "Stops on a way street are not optimized"
Stops on a one way street are not optimized, for example it will be faster to run house number 7,8,9,12,11,22 vroom result is than run number 9,7,8,12,22,11 in a one way street route circle you many times Example drive to one way street visit number... and than visit the street again visit the number...

[2019-03-10 07:01] sinaabadi opened #221 "Segfault on empty job time windows"
Hey @jcoupey ,
There is problem in VROOM (wrapped by express) that returns 200 status code with empty body
I think the problem is related to vroom.

## Expected Behavior
It should return valid response with `code 0`

## Current Behavior
Return status code `200` with `empty body`

## Steps to Reproduce

1. Pull vroom [docker vroom image](https://hub.docker.com/r/hammermc/vroom-docker)
1. Change OSR

[2019-03-11 08:46] jcoupey commented on #219
Yes, that's a good idea. Having a config file would probably be easier to keep track of every option without having to pass many complex command-line flags. Having to link to a local config file at runtime does not seem always convenient, but on the other hand we can hard-code sensible defaults for local OSRM and ORS servers so it would only actually be required when using a remote service. What a

[2019-03-11 08:50] jcoupey commented on #220
It's hard to guess what the problem is without more details on your input. Can you share a file so I can try to reproduce the problem?

[2019-03-11 09:13] jcoupey commented on #221
@sinaabadi thanks for reporting, there is indeed an unhandled case for this job:
[code]
As soon as a `time_windows` key is provided, we expect it to be a non-empty array. In your example, `vroom` segfaults while trying to parse the first time window. We should add a check to return an explicit error message in that case.

Notes:
- if you mean to describe a job that has no timing constraints, you s

[2019-03-11 09:21] #221 closed

[2019-03-11 09:24] jcoupey commented on #221
I added the check in `master` and I'll cherry-pick to the `release/1.4` branch so this will be fixed in the next release candidate for v1.4.

[2019-03-11 11:10] nilsnolde commented on #219
Yes, that looks good I find. I think most people are used to and comfortable with config files by now. And supporting `localhost` defaults should indeed account for most `vroom` use cases, I see the remote option as rather exotic, as the remote equivalents (well, ORS soon hopefully) already provide optimization endpoints.

Not sure if you'd have to put the config file as arg. Assuming there will a

[2019-03-11 11:57] sinaabadi commented on #221
@jcoupey Thanks for your response, there is an other problem for a job that does not require any skills. this is my payload:

[code]

Job with `id=9`  does not require any skills but if if omit the skills or provide skills with empty array it says:
[code]

[2019-03-11 14:07] jcoupey commented on #221
I understand this can be misleading. Currently we allow two situations with regard to `skills` arrays:
- none are provided (for vehicles and jobs), meaning no restriction at all
- all are provided, and they're non-empty.

As a result you can't model "a job that does not require any skills" with an empty array. What you can do instead is pick a specific skill value that means "this job can be done

[2019-03-16 09:49] myleftshoe commented on #189
I have a similar use case: Let's say 50% of deliveries are standing orders and 50% are ad-hoc. The standing orders are always delivered by the same driver, let's call these their "usual runs". The ad-hoc deliveries are one off's and can be delivered by any driver. With three drivers would like split the ad-hoc deliveries and assign them to the the most appropriate driver, fitting them into their u

[2019-03-18 14:10] jcoupey commented on #189
@myleftshoe it does not sound like you need precedence constraints to model what you describe, but skills. You could use individual skills for each of your drivers and then a specific one to describe ad-hoc deliveries that can be assigned to any driver. The three drivers would for example have respective skills `[0, 1]`, `[0, 2]` and `[0, 3]`. Ad-hoc deliveries would have a `[0]` skills array and

[2019-03-18 19:14] myleftshoe commented on #189
@jcoupey. Thankyou! I'll give it a go today

[2019-03-18 20:45] myleftshoe commented on #189
@jcoupey. Great! got it working. It's so simple. More of a comment than a feature request (possibly it's just demonstrating my limited understanding) :- it might be nice to be able to specify strings as the skills e.g. ['any', 'John']. Apologies for polluting the thread too.

[2019-03-19 07:18] jcoupey commented on #189
@myleftshoe glad this worked out for you. The skills logic is flexible as is (with plain integers) and different use-cases can require different modelling, so I think it's better to keep it that way and let users decide on their own logic and properties.

[2019-03-20 09:35] jcoupey commented on #206
This is available in `master`. I'll also merge #215 in the `release/1.4` branch.

[2019-03-20 09:35] #206 closed

[2019-03-29 15:27] jsfurniss opened #222 "Feature: Jobs as Trips"
Greetings:

Do you have plans for supporting Jobs that have both an origin and destination (each with time windows)?  Alternatively, could a Job be defined as a "pick" or "drop" where the vehicle's current load is increased by job.amount(s) at "pick" and decreased by job.amount(s) at "drop" but always constrained by vehicle.capacities throughout the route duration.

Our goal is solving the traditi

[2019-03-29 17:39] jcoupey commented on #222
We're tracking something related at #189. Could you take a look at this ticket (and especially https://github.com/VROOM-Project/vroom/issues/189#issuecomment-447906698) to see if this would cover the use-case you have in mind?

[2019-03-29 18:39] jsfurniss commented on #222
Thanks for prompt reply.  I did review issue #189 before posting and the sequencing seemed like it was a concept headed in the right direction.  In our use case, we would know the required skills for each job beforehand, however we would not know which vehicle or driver would necessarily be performing each job.

All "jobs" in our process are point to point composed of an origin (load) w/ time wind

[2019-03-29 20:25] jcoupey commented on #222
What you describe sounds like a typical pickup and delivery problem. In term of modelling, I think it would be easier if jobs keep describing one single thing at a given location (rather than spanning overlapping parts of a route).

In your example, you'd have one job for each trip start and end (the later with a negative amount). In term of constraints, mixing pickups and drops means monitoring o

[2019-03-29 21:18] jsfurniss commented on #222
I guess in my reading I did not realize jobs could have negative amounts to define a "drop" so yes, using two jobs to define our "trip" would work assuming we have the ability to ensure same route and correct order as you stated. I will monitor issue #189 and attempt to build an integration model around this concept.  One final question and I'll leave you alone:  What do you suggest for the best p

[2019-03-29 21:43] jcoupey commented on #222
OK, so I suggest we keep the discussion over in #189. Technically negative amounts are already allowed, but note there is currently a known bug (see #197).

Regarding the platform, we have [Travis builds](https://travis-ci.org/VROOM-Project/vroom) setup for gcc 6, 7, 8 and clang 5, 6. Those are run on ubuntu boxes. I think most users (including myself) are running on linux. There is one report of

[2019-04-01 16:44] jsfurniss commented on #189
I have a suggestion to consider on how to "link" jobs together to support pickup and drop off scenarios: If the job object had an additional, optional field for "FollowsJobId", the id of the job it's linked to could be included.  This would let the system know they are to be kept together and would also specify the sequence.  This could support "trips" that have multiple stops.  "Pick up Fred (Job

[2019-04-02 08:56] jcoupey commented on #189
For generality's sake, follow-up jobs should ideally be modelled as a list instead of a single job id. Think about a situation where you pick a number of parcels along a route and have to deliver them each at a different location.

I guess we should go through a couple of papers on pickup and delivery problems to make sure this model is sufficient.

[2019-04-02 08:56] jcoupey commented on #222
Closing in favour of #189

[2019-04-02 08:56] #222 closed

[2019-04-02 09:00] jcoupey commented on #214
Closing as stale. @TeodoraB21 feel free to reopen if required.

[2019-04-02 09:00] #214 closed

[2019-04-02 09:01] jcoupey commented on #220
Closing as stale. @123bistami feel free to reopen if you can provide some more details.

[2019-04-02 09:01] #220 closed

[2019-04-02 10:11] braktar commented on #220
@123bistami Tell me if I'm wrong, but in the cases I have in mind, your route have to travel through this one way street multiple times due to the repartition of the jobs.

So, from the point of view of the resolution serving those points in one row or in multiple times doesn't matter.

A simple bypass is to modify the distance matrix to encourage the long trips. Experientially it works pretty goo

[2019-04-02 17:19] jsfurniss commented on #189
What would be wrong with having more than one follow-up job with the same "parent" job id to support the above problem?  2 packages: 1 pickup location, 2 drop locations...  Job 1 amount=2, Job 2 amount = -1 follows job 1, Job 3 amount = -1 also follows job 1.  So we end up with two "trips"  1 to 2 and 1 to 3

[2019-04-05 14:01] GarfAbh opened #223 "Runing vroom with OSRM not on local host"
Hi,

I had a look at vroom usage and it says that with -a and -p we can change the routing server and the routing server port. I currently set up osrm on 0.0.0.0:5001 and I tried everything to give it correctly to vroom but I always get

{"code":2,"error":"The document root must not be followed by other values. (offset: 4019)"}

my cmd is :

vroom -a 0.0.0.0 -p 5001 -i tmp.json

i don't know what

[2019-04-05 16:53] jcoupey commented on #223
Can you report the result of running just `vroom -i tmp.json` with that same file?

What you're seeing is definitely a parsing error, so no routing query is fired yet and the `-a` and `-p` *should* make no difference.

[2019-04-08 07:15] GarfAbh commented on #223
Sure
it return the normal output : the summary with all the unasigned and assigned job ...

{"code":0,"summary":{"cost":10252,"unassigned":0,"amount":[16],"service":12060,"duration":10252,"waiting_time":0,"computing_times":{"loading":19,"solving":50}},"unassigned":[],"routes":[{"vehicle":601,"cost":10252,"amount":[16],"service":12060,"duration":10252,"waiting_time":0,"steps":[{"type":"start","loca

[2019-04-08 07:25] jcoupey commented on #223
Could you share the vroom version you're running and the whole input file (you can drag it in a comment and it will get linked) ?

[2019-04-08 07:32] jcoupey opened #224 "Add http wrapper class"
We currently have two routing classes that use http requests to get routing results: `OrsHttpWrapper` and `RoutedWrapper` respectively for openrouteservice and osrm-routed.

Exact request syntax and http method differ, but both are sharing some duplicated code to handle the requests. We should move those parts to a dedicated `HttpWrapper` abstract parent class.

[2019-04-08 07:37] GarfAbh commented on #223
I use vroom 1.4.0.

with this
[input1.zip](https://github.com/VROOM-Project/vroom/files/3053158/input1.zip)

[2019-04-08 08:02] jcoupey commented on #223
I can't reproduce the problem:

[code]

The last command errors as expected when running `osrm-routed` on the default port 5000, but works when using `osrm-routed -p 5001 [...]`.

The error is definitely generated by `rapidjson`. Can you experiment with adding the default `-a 0.0.0.0 -p 5000`, and with another file like [the example from the doc](https://github.com/VROOM-Project/vroom/blob/master/

[2019-04-08 08:28] GarfAbh commented on #223
`vroom -a 0.0.0.0 -p 5001 '{"vehicles":[{"id":0,"start":[2.3526,48.8604],"end":[2.3526,48.8604]}],"jobs":[{"id":0,"location":[2.3691,48.8532]},{"id":1,"location":[2.2911,48.8566]}]}'`
Return me a correct solution output

[2019-04-08 08:32] GarfAbh commented on #223
I don't what happened and how it's possible but I don't want to bothering you with that I will continuing searching and let you know as soon as I found the issues

[2019-04-08 11:31] smil78 opened #225 "Balancing route times"
Hello,
I was thinking about balancing route times, let's say we have 3 vehicles with 8-hour work time (8-16 for example), and the routes came up as: vehicle 1 took 7 hours, v2 took 3h, and v3 is 8h
In order to balance work times my thought is to take the average time (6 hours in this case) and limit work times for each vehicle on this value (8-14 in this case). Is there any downsides in this?

Tha

[2019-04-09 15:39] jcoupey commented on #225
The current optimization objective is overall travel time and there is no simple way to take into account route time balance *as an objective*.

Fiddling with the vehicle time windows as you suggest would basically work to still optimize on overall travel time while reducing route length differences. The only downside I can think of is that since you'll be pushing tighter constraints, you'll proba

[2019-04-11 09:19] tediyuwono opened #226 "[Question] maximize vehicle capacity before using another vehicle"
Hello,

I have following cases for 83 jobs with each amount is 1.
1. there are 2 vehicles with each capacity is 40
result : each vehicle will handle 40 jobs. 3 jobs are unassigned.

2. there are 4 vehicles  with each capacity is 40
result: one vehicle handle 40 jobs, another one handle 24 jobs, and the last vehicle handle 19 jobs.

Is it correct that for the second case, the distributions of the j

[2019-04-11 17:52] jcoupey commented on #226
Yes, you're right this is very similar to #225. We do our best to lower the overall travel time (sum of all travel times along all routes) while respecting capacity constraints. But we don't bother to fill up vehicles or balance route amounts.

If you badly need this distribution, you just have to input vehicles with respective capacity 40, 40 and 3. Note that the same applies here as in #225: as

[2019-04-12 09:38] myleftshoe commented on #191
@nielsenko, agreed. If you have X drivers turning up to work and the first always gets a full  8 hr shift and the last few or zero you may have some complaints.

[2019-04-12 11:11] nielsenko commented on #191
@myleftshoe exactly - and the increase in total cost is typically neglisable.

@jcoupey Have you considered the benefit of min-max optimization from an algorithmic perspective? Ie. that you don't have to optimize on the number of vehicles. All vehicles should be used, so the search space is greatly reduced.

But hey, this is open-source, if we need it bad enough, then we should start coding :-)

[2019-04-12 15:11] jcoupey commented on #191
Sure. But again this only happens when the fleet is oversized, and then you still have some ways to work around the problem, see e.g. #225. Probably a bit hacky but still a decent way to ensure the solution is acceptable while mitigating the overall cost increase.

I'm not sure we'd reduce the search space that way. We're currently **not** optimizing on the number of vehicles, just overall travel

[2019-04-12 20:36] myleftshoe commented on #191
Was going to do it like this:
1. Get initial optimization with standard time windows for each vehicle.
2. If some vehicle routes are maxed an others under, reduce vehicle time windows by a percentage and re-optimize.
3. Possibly repeat 2 until a balanced solution is acheived

[2019-04-13 10:52] jcoupey commented on #191
@myleftshoe yep, same idea as https://github.com/VROOM-Project/vroom/issues/225#issuecomment-481305597.

[2019-04-15 06:22] GarfAbh commented on #223
I found where It come from. I had a script that work on the json file just before sending it to vroom. This script corrupted the file that's why I got this issue. I close the issue.

[2019-04-15 06:22] #223 closed

[2019-04-30 07:24] sfendrich opened #227 "Travel distance as a capacity"
Is it possible to include a maximum travel distance as a capacity? E.g., for electric cars.

[2019-05-01 20:31] jcoupey commented on #227
There is currently no way to enforce a constraint on maximum travelled distance. The closest you can get right now is to adjust vehicle time windows to avoid getting too long routes. Do you have a use case where this would not be enough?

Notwithstanding the fact that we currently don't store a distance matrix, such a constraint could technically be implemented in a similar way as capacity constra

[2019-05-06 13:28] jcoupey opened #228 "Vehicle ids not parsed as uint64_t"
Vehicle ids have `vroom::Id`type, aka `uint64_t`. But in `input_parser.cpp`, they are parsed with rapidjson's `GetUint` here:
 https://github.com/VROOM-Project/vroom/blob/2a0a9c5f58cac7c7b733be099b4c3116d340c935/src/utils/input_parser.cpp#L209
 and here:
https://github.com/VROOM-Project/vroom/blob/2a0a9c5f58cac7c7b733be099b4c3116d340c935/src/utils/input_parser.cpp#L365

We should get them using `G

[2019-05-06 13:43] #228 closed

[2019-05-07 08:09] sfendrich commented on #227
Thanks for the hints, I'll look whether adapting the time windows will solve the problem.

FYI: The use case is a fleet of electric cars. Before they run out of battery, they either must return to their home base or find a nearby charging station. Because recharging takes about 30min, it might affect the optimal round trip, in particular, if the jobs have time windows.

[2019-05-08 05:35] atisnz opened #230 "demo server json issue"
Hi,
I'm trying to use the demo server with our locations, but I'm getting  "invalid json" error:
`curl --header "Content-Type: application/json" --data '{"vehicles":[{"id":0,"start":[174.806435,-36.9151492],"end":[174.806435,-36.9151492]}],"jobs":[{"id":0,"location":[174.597249,-36.808421]},{"id":1,"location":[174.587964,-36.774432]},{"id":2,"location":[174.544603,-36.772491]}],"options":{"g":true

[2019-05-08 15:58] jcoupey commented on #230
This is weird, pasting your curl command in a terminal does work on my side. Can you retry to see if there was a temporary hitch?

A wild guess: maybe there are a few subtleties related to quote escaping that may vary from one system to the other...

To work with files in a more convenient way, you can use `--data @file.json` with `curl`.

[2019-05-09 05:21] atisnz commented on #230
I assume, you use linux... I have windows 10. it will be some weird escape conversion. the @file.json worked. Thanks!

[2019-05-09 10:09] jcoupey commented on #230
Yes, and all commands and examples provided in the wiki and various readmes have not been tested on other platforms.

Glad you found a way that works for you!

[2019-05-09 10:09] #230 closed

[2019-05-12 13:17] iedmrc opened #231 "Implicit instantiation of undefined template error for macos g++ compiler"
With macos xcode compiler:
[code]
I get the following errors while building the source:

[code]

[2019-05-13 09:50] jcoupey commented on #231
Thanks for reporting. Why different compilers have different behaviours with regard to includes is beyond me...

Can you confirm that 4.2.1 is your clang version? This would explain why our Travis builds don't catch this as we're only building with clang 5 and 6.

[2019-05-13 10:17] iedmrc commented on #231
Apple's versioning a bit confusing. So I am not sure the version of clang I have. I just have the following:
`Apple LLVM version 10.0.1 (clang-1001.0.46.4)
Target: x86_64-apple-darwin18.5.0
Thread model: posix
InstalledDir: /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin`

Although I thought the toolchain version history table may be helpful, it is not https:

[2019-05-13 10:18] jcoupey commented on #231
Is running `clang --version` any help?

[2019-05-13 10:24] iedmrc commented on #231
I did give a try, but It is just the same:

[code]

[2019-05-13 11:47] jcoupey commented on #231
Fixed in #232.

[2019-05-13 11:47] #231 closed

[2019-05-17 08:42] karsfri opened #233 "Possible encoding error"
I'm reading in a csv file with a WINDOWS-1252 encoding. It works perfectly with readr but some characters get messed up when using vroom. For instance I get a heading `SveitarfÃ©lag` instead of `Sveitarfélag`

[code]
p.s. This is my first post on github ever. I don't know if I need to post any more details?

[2019-05-17 09:26] jcoupey commented on #233
My understanding is that you have a custom routine to parse your csv file and translate it in an input file following [the vroom API](https://github.com/VROOM-Project/vroom/blob/master/docs/API.md) for solving, is that correct? If so could you share an example of a json input file that could be used to reproduce your problem?

[2019-05-18 11:45] iedmrc opened #234 ""computing_times" seem not in seconds"
In the API doc it is written:
`all timings are in seconds`

But the computing_times components seem in milliseconds instead of seconds:

[code]

What do you think?

[2019-05-18 13:03] jcoupey commented on #234
Yes, the values reported under this key are milliseconds. Their sole purpose is debugging and benchmarking, I don't expect them to be really useful for anything else.

As such, they're not actually part of the "stable" API and this is why they're not mentionned in the API docs. I would not considerer it a breaking change if they were to be modified or removed at some point.

[2019-05-18 13:39] iedmrc commented on #234
I agree with you. But just wanted to be sure about the measure :). Would you mind to add a "p.s." to the API doc ? If it so, I could send a pull request.

[2019-05-18 16:53] iedmrc opened #235 "Add job descriptions in the API"
vroom-frontend supports job descriptions and shows on the map as well, but when requesting to vroom through express.js API, job descriptions are lost in response. Do vroom-backend & vroom express.js API support job descriptions natively ? If not, do you consider adding job descriptions natively in vroom ? Hence, we can throw the burden of extra scripting away. (I mean, I have 500 jobs and 30 vehic

[2019-05-18 18:19] karsfri commented on #233
Wow, I'm really sorry, This was ment for the vroom package for r but not for the vroom project. No wonder it took me some time to understand your comment :D  Do I delete the post or...?

[2019-05-19 15:09] jcoupey commented on #233
OK, so closing as off topic.

[2019-05-19 15:09] #233 closed

[2019-05-19 15:11] jcoupey commented on #234
I don't really feel the need to issue a warning in the docs about something that is (purposely) undocumented. Again I don't want to make this part of the "official" API to avoid being tied to the current format and unable to make any change without considering it a breaking API change.

I guess people getting confused can always come (or be pointed) to this ticket for context. ;-)

[2019-05-19 15:11] #234 closed

[2019-05-19 15:15] jcoupey commented on #235
You're right, the description part is currently only handled on the frontend side, and the `description` keys are retrieved from the input jobs [here](https://github.com/VROOM-Project/vroom-frontend/blob/7814c0737a5379d2d47e3b44296110ba52117197/src/utils/data_handler.js#L748), not from the solution itself. To avoid the extra iterations you mention, we store job ranks based on their id [in one go](

[2019-05-19 15:50] iedmrc commented on #235
I would love to work on this feature, but I really don't have enough knowledge of c++ to ship the feature. I just can read and fix little bugs in c++ :)

To me, vehicles should have a description associated with itself, not the locations. But you have more comprehensive knowledge of the project than me.

[2019-05-19 19:01] jcoupey commented on #235
Not such a big deal actually: the required steps are to parse an additional field from the input, store it in a new member variable for job objects, and then write it back in output when formatting the route steps.

I guess both might be useful. Currently the frontend does use a description for start and end to display adresses.

[2019-05-20 18:27] iedmrc commented on #235
I am not sure but if I can/do before you or someone, I will send a pull request. Thanks!

[2019-05-24 08:12] nielsenko opened #237 "Feature request: Partition problem to reduce matrix sizes"
More of an idea than a request.

Today if you include jobs in the same problem that has disjoint solutions, ie. half may require one skill, the other half another, then vroom still builds the full matrix for all jobs. It such cases many of the entries in the matrix is superfluous. Perhaps vroom could partition jobs by skill first, when possible.

I'm aware that jobs and vehicles has lists of skill

[2019-05-24 09:40] #224 closed

[2019-05-24 10:59] jcoupey commented on #237
Thanks for sharing this idea. You've got a point that some matrix values are sometimes unnecessary. A striking example would be when jobs are all "pre-assigned" via skills, e.g. with only one skill per job/vehicle. But then as you mention it's always possible to submit one (smaller) problem per vehicle.

On the other hand, deciding what parts of the problem are disjoint is not always that trivial.

[2019-05-24 11:03] jcoupey commented on #237
On a side note, the vehicle/job incompatibilities are further improved based on other constraints such as amounts and reachability once the travel times are known. There is also a list of vehicles incompatibilities to cut unnecessary lookups during local search. This is all on the solving side (not matrix computing) but it has a huge impact on overall solving times for some classes of instances, c

[2019-06-10 04:38] atisnz opened #238 "capacity/amount issue"
Hi,
I'm getting an "Invalid amount value." when trying to solve the attached json file on your demo website.
test2.json.txt](https://github.com/VROOM-Project/vroom/files/3270569/test2.json.txt)

Once removed the capacity/amount, the solver worked. not sure, if the results are supposed to be like attached, but service and waiting_time values are all 0.  See the results file.
[res.json.txt](https://

[2019-06-10 07:14] jcoupey commented on #238
The "invalid amount value" error happens [here](https://github.com/VROOM-Project/vroom/blob/ce5c7135dd977748e3a784168dbd7708001eafdd/src/utils/input_parser.cpp#L63-L66) because you provide non-integer amounts. What you could do is decide on a number of digits and multiply all your values by `10^n` to have integer amounts/capacities.

You'll get the same kind of parsing error with non-integers serv

[2019-06-10 08:42] MedAlyH opened #239 "Not receiving the correct Output"
I have problem with the vroom api i'm sending the correct input but i'm not receiving the correct output :

**here's my input** : {"vehicles":[{"id":1,"start":[51.756757,-1.258567],"end":[51.756757,-1.258567]}],"jobs":[{"id":0,"location":[51.74772,-1.23702]},{"id":1,"location":[51.75782,-1.59422]},{"id":2,"location":[51.734,-1.21765]},{"id":3,"location":[51.73372,-1.33662]},{"id":4,"location":[51.

[2019-06-10 10:54] jcoupey commented on #239
The zero distances/travel times usually suggest that the provided locations have been snapped by OSRM to the same node on the road network.

Indeed, all locations in your input data are [in the sea](http://map.vroom-project.org/?q=a6a38cdf11e1). My guess is that you've been using lat,lon instead of lon,lat for coordinates?

[2019-06-10 10:56] MedAlyH commented on #239
Thank you for your replay , yeah i managed to solve the issue by chnaging the order of the lat and long !

[2019-06-10 11:38] #239 closed

[2019-06-11 02:25] atisnz commented on #238
Thanks, that worked.
I have another problem: when I load the attached request, some sites are coming up black on the map and they are not showing in the result either. Could you pls advise why is that? Thanks!
[test2.json.txt](https://github.com/VROOM-Project/vroom/files/3274504/test2.json.txt)

[2019-06-11 07:44] jcoupey commented on #238
In the frontend, positions that are shown in black after solving are unassigned jobs. Those show up in the `unassigned` array in the [json response](https://github.com/VROOM-Project/vroom/blob/master/docs/API.md#output).

This happens when including the jobs would make the solution invalid with regard to some of the constraints imposed in the input problem (skills, capacity, time windows etc.). In

[2019-06-11 11:45] atisnz commented on #238
Yes, I found those in the unassigned part, I just didn't know why did they get there.
One last question. Would you know about anyone who compiled the project on windows?
Thanks

[2019-06-11 11:57] nilsnolde commented on #238
I wouldn't go through the pain of trying to set up anything on windows which was intended and developed for Linux. Try the built-in Linux subsystem, which all modern Win distros support these days, e.g. https://virtualizationreview.com/articles/2018/06/13/installing-wsl-on-windows-server.aspx

[2019-06-11 12:27] jcoupey commented on #238
The only record of building on windows so far is https://github.com/VROOM-Project/vroom/issues/207. There may be other windows users we're not aware of though as we're most likely to have feedback on building problems than successful builds. ;-)

[2019-06-12 01:59] atisnz commented on #238
We have a customer running exclusively windows environment that's why we would prefer windows solution. We trying to visualise our customers trucks routes in Qgis and produce more optimal routes. We have been using the demo server so far and its produced the most promising results.
Anyway... I have more questions. When using time_windows sometimes we get some waiting times.  How would be possible

[2019-06-12 02:07] atisnz commented on #238
Forgot the files:
[tw_res1.txt](https://github.com/VROOM-Project/vroom/files/3279269/tw_res1.txt)
[tw_req1.txt](https://github.com/VROOM-Project/vroom/files/3279270/tw_req1.txt)

[2019-06-12 07:22] jcoupey commented on #238
Waiting times are a direct consequence of the time windows constraints you setup. In your example, removing the waiting time for job 14 would mean arriving later, but then job 10 would be unassigned as it's already done at the latest possible time (ETA 25200 and due at that time). If you push forward the due date for job 10, then the waiting time will decrease.

Can you point out a specific exampl

[2019-06-12 08:19] atisnz commented on #238
from the tw_res1 file, the first 2 jobs:
{
					"type": "job",
					"location": [174.7572926,-36.78278],
					"job": 0,
					"service": 150,
					"waiting_time": 0,
					"arrival": 22918,
					"duration": 1275,
					"distance": 18696
				},
				{
					"type": "job",
					"location": [174.7552645,-36.7803657],
					"job": 1,
					"service": 126,
					"waiting_time": 0,
					"arrival": 23161,  **>>>

[2019-06-12 12:58] jcoupey commented on #238
The `duration` key at step level works like the `distance` value, it's a **cumulated** value from the start of the route, see the [step description](https://github.com/VROOM-Project/vroom/blob/master/docs/API.md#steps) for more.

Here the travel time from job 0 to job 1 is 1368 - 1275 = 93 based on the `duration` keys, or 23161 - 22918 - 150 = 93 based on arrival and service times.

[2019-06-13 05:00] atisnz commented on #238
That makes sense. Thanks for the clarification...

From this it sounds, that you create the shortest path first and then appropriate start time is selected to best fit the time windows constraints + some wait time is applied where its necessary.
In the above example the wait time was around 48mins which is a very long time.
Unfortunately the time windows are set by the customers, so they cannot be

[2019-06-13 10:55] jcoupey commented on #238
We search for a short path **while ensuring validity constraints**. For time windows constraints, we actually don't decide the exact arrival time during the search, but we maintain validity margins (earliest and latest arrival times). Then after solving, we choose valid arrival/start times in order to:

- arrive asap at the latest step
- start as late as possible at the first step in order to mini

[2019-06-14 14:02] nielsenko opened #240 "Euclidean distance"
It would be nice with an option to use Euclidean distance (and maybe Haversine).

For some large problems the runtime is dominated by matrix calculations, and perhaps you can accept a simple distance metric, without specifying it explicitly.

[2019-06-14 16:25] vaibhavmehrotra94 opened #241 "Support for mixing independent pickups and deliveries"
I am trying to use vroom for pickup and delivery scenario is it possible to use it for the same.

For Eg. :- Let's assume my vehicle has a capacity of 200 and I have jobs for delivery which have amount 100 each and pickup with amount 70. Now is it possible to configure VROOM's input in such a way that the truck is assigned to pickup 70 amount somewhere during the trip without breaching the vehicle

[2019-06-15 13:24] jcoupey commented on #240
We used to have a dedicated wrapper to parse TSPLIB files and compute the matrix with euclidean distance [back in v1.0](https://github.com/VROOM-Project/vroom/blob/v1.0.0/src/loaders/tsplib_loader.h).
I removed it to avoid supporting multiple input formats. It's been replaced with the ability to [input a matrix](https://github.com/VROOM-Project/vroom/blob/master/docs/API.md#matrix). This is now ho

[2019-06-15 13:28] nielsenko commented on #240
Those input matrices just get really really big sometimes :-)

Anyway, challenge accepted, but I probably won't get around to it until August.

[2019-06-15 13:32] nielsenko commented on #240
Wrt. time constraints, then I think specifying a speed when using either Euclidean or Haversine distance calculations will be required to map distances to durations.

[2019-06-15 13:39] nielsenko commented on #241
See https://github.com/VROOM-Project/vroom/issues/189

[2019-06-15 14:15] jcoupey commented on #240
Great, let me know if you need any other pointers to get started.

This is the tricky part as the input matrix is really expected to be durations because it's used to compute arrival times and decide validity wrt time windows constraints. The usual approach (at least for academic benchmarks) is to consider that euclidean distance **is** a duration, and set time windows accordingly.

As for introdu

[2019-06-15 14:28] nielsenko commented on #240
Okay. But requiring the user to scale his time windows is not the most intuitive interface.

[2019-06-15 15:19] jcoupey commented on #240
Agreed. But we're talking about users that explicitly ask to compute costs that are distances (probably with something like `-r euclidean` instead of `-r osrm`) **and at the same time** provide time window constraints that are durations. Shouldn't those be aware there is some kind of mismatch here?

[2019-06-15 15:38] jcoupey commented on #241
@vaibhavmehrotra94 as mentioned above, we're tracking pickup and delivery constraints in #189. In the literature, P&D means jobs are to be scheduled in the same route and in the right order (pickup along the way, then delivery at some point down the line).

But it looks like you may not really have precedence constraints, and maybe not even require that your "pickups" and "deliveries" be in the sa

[2019-06-15 16:02] vaibhavmehrotra94 commented on #241
@jcoupey For my use case I have both kinds of pickups...one that doesn't follow the precedence constraint  and the other that does.

For eg. Let's say that I have a warehouse which is the start and end point for each vehicle. Now I have jobs that belong to 4 categories Delivery, Pickup and Delivery+Pickup, Pickup+Delivery.

Delivery :- Something is loaded in the vehicle at warehouse before the tri

[2019-06-17 00:03] johnvencky commented on #189
I need this feature for my university project and I thought I'd give it a shot at implementing it.  Note that Google Routing API implements similar feature as a simple restriction array data['pickups_deliveries'] = [ list of [pickup_id, delivery_id] pairs ], i.e.:
https://developers.google.com/optimization/routing/pickup_delivery#complete_programs

I thought maybe it might be a good idea to start

[2019-06-17 10:24] jcoupey commented on #241
@vaibhavmehrotra94 thanks for the clarification.

We do that already with the current behaviour.

Should be modelled with a negative amount. Current limitations are a known bug (#197) and the fact that we are probably missing some checks for pickups validity.

This is #189.

Could be modelled either with a single job using the amount difference, or with 2 jobs (1 pickup and 1 delivery) if performi

[2019-06-17 10:28] jcoupey commented on #225
Looks like this has been answered, so closing now. Feel free to re-open if required.

[2019-06-17 10:28] #225 closed

[2019-06-17 10:29] jcoupey commented on #226
Looks like this has been answered, so closing now. Feel free to re-open if required.

[2019-06-17 10:29] #226 closed

[2019-06-17 10:55] jcoupey commented on #189
@johnvencky the tricky part is to be able to ensure solution validity (in a cheap way) throughout the whole solving process: i.e. for any precedence constraint, both pickup and delivery should be in the same route (or both unassigned) and in the right order.

High-level sketch of a possible approach:

1. Adjust the heuristics to always include both P&D whenever needed.
2. Adjust the existing local

[2019-06-17 12:26] vaibhavmehrotra94 commented on #241
@jcoupey I guess resolving the` pickup `issue with entering negative value will partially solve the
`Delivery+Pickup` issue as well as I noticed in vroom if the input has same _long, lat_ and _job id,_ 95% of the times those jobs are assigned in the same trip next to each other.

[2019-06-18 16:54] johnvencky commented on #189
Thanks for your guidance @jcoupey.  I've taken a look at the code and can already appreciate the work and effort that you put into it!  :)

What do you think about potentially simpler solution that would avoid the headache of trying to keep the jobs together in heuristics and local search stages.

The various time_window, amount, and skills restrictions are really invalid for pickup-delivery cases

[2019-06-19 09:35] jcoupey commented on #189
@johnvencky your description is indeed simpler and would fit the situation where the delivery is done right after the pickup. But this is too restrictive for a generic usage, in particular it would not allow to model some situations like:

- pickup and delivery with different time windows
- other pickups/deliveries/single jobs need to be inserted between P&D (think routes like Start -> P1 -> P2 ->

[2019-06-19 13:24] johnvencky commented on #189
I read your points and agree 100% that this is not suitable for `master`.

As our use case is very simple P&D between two groups, I actually came up with a much simpler solution that's already implemented in VROOM!  I'll provide a custom Matrix (where each job is P&D pair), and set service time to distance(job_pickup, job_delivery) + service_pickup + service_delivery.  That way I actually don't ne

[2019-06-19 20:02] mhosman opened #242 "Add [time_windows] (*plural) for Vehicles"
There's a way to add multiple time_windows for a single vehicle in order to add, for example, a break time (have lunch)?.

[2019-06-19 21:56] mhosman commented on #189
Hi! Suppose I have 10 jobs. There are 4 jobs that must be done in a specific order but between those jobs I can complete another jobs. There's a way to do this without specifying a time?

[2019-06-20 07:30] jcoupey commented on #242
Defining vehicle working hours as a single time window has been a deliberate choice, see https://github.com/VROOM-Project/vroom/issues/136#issuecomment-406896877 for a bit of context.

If the break location is known in advance, you can already model:

- a fixed-time break by defining one vehicle per time window and setting start/end accordingly
- a flexible break using a job with a specific skill

[2019-06-20 07:42] jcoupey commented on #189
@mhosman there is no way to do this right now, and this is exactly the kind of constraint this ticket is about. Like I said above, I think a minimum viable implementation should handle "one to one", "one to many" or "many to one" scenarios. But I'm curious about your example because it would imply a **chain** of "one to one" precedence constraints. Can you provide a bit of context on the underlyin

[2019-06-20 10:33] rishabhdeepsingh opened #243 "Unassigned jobs should show all data for a job."
Unassigned jobs are not showing all details it should display all details about the job.
[example](https://github.com/VROOM-Project/vroom/blob/master/docs/API.md#using-osrm) as given here.
[code]

[2019-06-20 13:39] jcoupey commented on #243
To be honest, I think the sole purpose of providing the location in output is to be able to plot unassigned jobs in the frontend (I think the `unassigned` array actually started as a list of ids).

On the other hand, in a production setting, jobs ids will typically be unique identifiers from some database. I'm not sure we should really care about providing back context information that is already

[2019-06-20 14:29] rishabhdeepsingh commented on #243
I thinking providing more information is good.
Let us say we are using Vroom as a wrapper and after that, we need to plot the data on a map. It will be better if we have more information rather than we need to again put a query on the database. This will reduce network issue.

[2019-06-20 15:05] mhosman commented on #189
Hey, @jcoupey thank you very much for your response! It's like grouping jobs in a specific task that requires a sequence of jobs (let's say 4) to be done in a specific order, but with the availability to finish other jobs, from other "tasks" between this 4 jobs. The idea is to do this without setting the time_windows parameter (what matters is the sequence and not the time schedule).

[2019-06-20 15:58] jcoupey commented on #189
Thanks @mhosman I get it from the modelling perspective. But would you have a real-life example where this kind of "chained ordering" constraints occur?

[2019-06-20 19:13] mhosman commented on #189
Yes sure, for example, I have 5 jobs that must be done in sequence:

- Job 1: Destination A: Pick-up materials for dest. B and C.
- Job 2: Destination B: Deliver materials from dest. A and pick-up materials for dest C & A.
- Job 3: Destination C: Deliver materials from destination A & B. Pick-up materials for dest. B & A.
- Job 4: Destination B: Deliver materials from destination C.
- Job 5: Desti

[2019-06-21 09:26] rishabhdeepsingh commented on #197
Any updates on this error?
also the line number has been changed.

[2019-06-21 17:22] jcoupey commented on #243
By "client side" I meant any piece of code that generated the vroom input, that *de facto* already has access to all job descriptions without any outside database query.

As I mentioned above, I've used the `location` of unassigned jobs in output to plot them in [the frontend](https://github.com/VROOM-Project/vroom-frontend). But this is really laziness on my side, I should just have reused the ex

[2019-06-21 17:30] mhosman commented on #242
Okay @jcoupey let's close this in favour of #186

[2019-06-21 17:30] #242 closed

[2019-06-24 06:36] rishabhdeepsingh commented on #243
So, I think replacing with the original `Job` Object and `vehicle` Object is the way to go. So that we don't have to filter data again.

[2019-06-25 14:51] nielsenko opened #245 "Describe VRP algorithm"
Can you point to some published research on the heuristics you use for solving the rich VRPs supported by vroom?

[2019-06-25 22:52] mhosman commented on #189
Hey @jcoupey, is this example good enough? This situation is happening every day to me and today there is no way to achieve this (just with a time_window but is not an efficient way).

[2019-06-26 09:09] jcoupey commented on #189
@mhosman yep, you've make it pretty clear. The difference with the "simple" usual P&D constraint is you'd need to be able to handle a chain of precedence constraints, not only pairs. At this point, I don't have a clear view on how much more complex this would be to implement.

[2019-06-26 09:15] jcoupey commented on #243
Technically that's indeed what you should do if you want to add more information in output. Else you might end up outputting some default values (e.g. for time windows) that are actually stored in `Job` objects but where not in input.

But again I don't think adding a lot of stuff in output just for convenience is a good idea. I can't think of a use-case where this would be mandatory (see previous

[2019-06-26 09:48] jcoupey commented on #245
There is no structured paper/page for this right now, except the code itself and [my talk at SOTM 2018](https://2018.stateofthemap.org/2018/T053-Solving_vehicle_routing_problems_with_OpenStreetMap_and_VROOM/) outlining the solving approach (CVRP only at that time, but still valid).

## Heuristics

We have a couple heuristics to find initial solutions:

 - an adjusted version of the "famous" Christ

[2019-06-26 12:03] nielsenko commented on #245
I have been challenged with _solving_ a very large VRPTW problem, 40.000+ jobs. This is not possible in reasonable time today with vroom. Building the duration matrix alone, is prohibitive expensive.

So far I have resorted to partitioning the jobs externally to vroom (using KMean, HDbScan, SLink, etc. Would like to try DeLiClu og dGridSLINK but that is more work) and then calling vroom on each of

[2019-06-26 12:24] rishabhdeepsingh commented on #243
I think if someone wants to do computation after the output so. giving full Object will be good as he/she don't have to go through input data again which will require an additional `O(n)` complexity.
That's why I was saying replacing with the Original Object will be good.

[2019-06-26 12:42] jcoupey commented on #245
Wow, sounds like fun. ;-) Also puts https://github.com/VROOM-Project/vroom/issues/237 into perspective.

I'll have to check out the clustering algorithms you mention (some of them are totally unknown to me). Also happy to have some feedback if you have interesting findings during this project and VROOM is part of the workflow!

[2019-06-26 12:50] MedAlyH commented on #245
Hello ,

Thank you for replying ;

Can you please provide me with a description of the resolution of the TSP problem ( algorithm, the choice of the algorithm why not using the greedy algorithm for example ) in the project . I really need it to better understand . Thank you in advance ! I will be very grateful if you can help me with that .

[2019-06-26 12:56] jcoupey commented on #243
Yes, you want to avoid that. You need to have a constant-time access to the jobs created for the input problem, based on their id. For example in javascript, you could store a simple object using ids as keys and storing a reference to a job object as value.

[2019-06-26 13:22] nielsenko commented on #245
So reading up on #75 and given my vague understanding of the code, I gather that you are using a split-first, route-second approach.

I was wondering, if one could use an Euclidean distance matrix for the partitioning, and only use the true duration matrix when performing the routing for each vehicle. Maybe the local search step could make up for the occasionally dumb partitioning?

The advantage

[2019-06-26 13:23] jcoupey commented on #245
@MedAlyH the TSP heuristic is based on the [Christofides algorithm](https://en.wikipedia.org/wiki/Christofides_algorithm). Partly because it provides a guarantee wrt the gap to the optimal solution, but mostly because at the time of implementation I was curious to see how it would perform on real-life (asymmetric) problems.

The outline is:
1. we first "symmetrize" the problem then apply the heuri

[2019-06-26 13:40] jcoupey commented on #245
Correct.

That would be a great use-case for https://github.com/VROOM-Project/vroom/issues/240. You could indeed then stop once the clustering is done, then split your whole problem into smaller ones and solve them independently, removing the need to compute the whole real matrix.

This would basically amount to comparing how the Prim-based spanning tree clustering compares to the ones you mention

[2019-06-26 14:09] nielsenko commented on #245
Except, I would still let vroom swap jobs between routes, during the local search phase. Or is that a bad idea?

[2019-06-26 14:28] jcoupey commented on #245
Then you'd treat the problem as a whole and you'd still have to compute the full matrix?

Maybe we should open a dedicated ticket for this discussion?

[2019-06-26 19:33] nielsenko commented on #245
That would defeat the purpose. I was hoping that the local search phase would only consider a subset of matrix entries, that could be filled lazily. My thought was that the _move_ based approach, since it considers only a subset of moves (modification operators), would not (necessarily) need the full matrix.

Regarding a seperate ticket. I guess there is a feature request hidden here, if a feasibl

[2019-06-27 10:02] jcoupey commented on #245
If you don't restrict it yourself, the local search as it is implemented can potentially lookup any cost between any pair of input location (vehicle start/end or job).

[2019-06-27 14:30] jcoupey opened #246 "Job priority"
The current optimization objective has two levels:

1. Minimize the number of unassigned jobs
2. Minimize total travel time

So whenever the number of unassigned jobs is the same for two different solutions, we'll consider the one that has the lowest total travel time.

As a result, we'll tend to return as unassigned the jobs that are  "more expensive" (e.g. furthest or with higher amount). This i

[2019-06-27 14:38] jcoupey commented on #197
@rishabhdeepsingh I plan to start working on this in the next few weeks, along with #241.

[2019-06-27 16:04] MingyiZhangQimia commented on #246
Is it possible to force the algorithm to assign all jobs?

[2019-06-28 08:33] jcoupey commented on #246
No, not if it means breaking some of the constraints you described in input. If you are willing to break some constraints to include more jobs, it might be an indication that your constraints are too tight in the first place.

This ticket is about providing a way to influence what jobs will be unassigned in a situation where not all jobs can be done.

[2019-06-28 10:18] MingyiZhangQimia opened #248 "Is it possible to set a time limit for the solver?"
Hi, is it possible to set a time limit for the solver, such that the solver will give the best result it can find during that time?

[2019-06-28 13:49] unguul opened #249 "README has no explicit link to the Wiki"
Perhaps I got used to big README files from other open source projects I follow/use but I was expecting the README file to contain some sort of *getting started* guide or at least a link to one.

Thanks for the great work btw :+1:

[2019-06-28 14:26] mhosman commented on #189
Thanks @jcoupey !. I think this is an important feature that opens up many new possibilities. Complex but necessary functionality.

@nielsenko @braktar @sinaabadi @myleftshoe  It could be great to have more examples and ideas in order to implement this.

[2019-06-28 15:24] unguul opened #251 "API docs don't provide enough details about what `time_window` is expected to be"
The API documentation tells us that `time_window` is expected to be an `array` in the form of `[start, end]`. However, it doesn't really tell us what the expected data type is and the examples are not clearly saying "this is seconds from start of day".

I understand that it is up to the client to decide how to use `time_window` as mentioned by @jcoupey at https://github.com/VROOM-Project/vroom/iss

[2019-07-01 08:32] MedAlyH commented on #245
@jcoupey  Hello Sir , I have a question for you

Christofides' approximation algorithm is guaranteed to give a solution with a cost no larger than 1.5 times the optimal tour. But this guarantee only works for symmetric graphs with distances that obey the triangle inequality. SO i'am wondering what we do if the graph do not obey the triangle inequality ? how we can apply the Christofides algorithm

[2019-07-01 09:46] jcoupey commented on #248
No, there is no such option at the moment because the solving approach is consistent as a whole and stopping it prematurely could lead to low-quality results. Also we try to be fast enough to not need it. ;-)

We have a way to manage the trade-off between solution quality and computing time though. See [the `-x` flag](https://github.com/VROOM-Project/vroom/wiki/Usage#complete-usage-and-options-lis

[2019-07-01 10:09] #251 closed

[2019-07-01 10:11] jcoupey commented on #249
Thanks for the suggestion and PR. I even added a "getting started" section so it's hopefully clearer now for people landing on the page.

[2019-07-01 10:11] #249 closed

[2019-07-01 10:13] jcoupey commented on #251
Thanks for the suggestion and PR!

[2019-07-01 10:27] jcoupey commented on #245
You're right, we have no guarantee of that kind on the initial problem because we treat the asymmetric version **and** the triangle inequality does not hold with e.g. OSRM durations. Again the Christofides heuristic is used as a subroutine and the whole process yields solutions that are good starting points. If you check out the [benchmark results for TSP](https://github.com/VROOM-Project/vroom/wi

[2019-07-01 10:32] MedAlyH commented on #245
@MedAlyH

Thank you for replying ;

But I still not get it ! if the problem is not symmetric and do not obeyl the triangle inequality what the Vroom do in that case .

Sorry for asking many questions, because i really apretiate your solution and i want to understand it from A to Z .
Thank you Dear

[2019-07-01 10:46] jcoupey commented on #245
The TSP solving (including going through the symmetrized version) happens [here](https://github.com/VROOM-Project/vroom/blob/master/src/problems/tsp/tsp.cpp#L271), so if you want to understand all the details you'll have to dig into the code. The outline of the solving approach is in `TSP::raw_solve` from the same file.

[2019-07-02 15:37] MedAlyH opened #253 "Interaction between OSRM and Vroom"
Hi !

Can you please help me understand the interaction between Vroom and OSRM . what's the role of OSRM in details and why Vroom is optimizing through the travel Time and not the distance .

Can anyone Help me please .

[2019-07-02 18:28] tinchoel10 commented on #189
Hi!! I'm trying VROOM for the very first time and I have the same problem! I need a sequence of jobs :)

[2019-07-02 18:53] jcoupey commented on #253
Prior to the optimization, VROOM needs a matrix that describes travel cost between any pair of location in the problem. It can be passed directly in input like in [this example](https://github.com/VROOM-Project/vroom/blob/master/docs/API.md#using-a-custom-matrix). If not, we turn to OSRM or Openrouteservice (see various wrappers [here](https://github.com/VROOM-Project/vroom/tree/master/src/routing

[2019-07-03 08:12] MedAlyH commented on #253
@MedAlyH
Thank your for your replay , so if i understood well the architecture :
1-First we send a Json file to the OSRM containing the locations of our jobs
2-OSRM calculate the cost matrix and the geometry and return the result in a  Json File
3-Vroom uses the cost matrix to calculate the best path through the TSP algorithm
4-Vroom send a Json file to the frontend containing the jobs ordonated a

[2019-07-03 08:21] jcoupey commented on #253
You got that right.

We have a variant for 1 and 2: using OSRM as a library (see `libosrm_wrapper` file and `-r` flag) speeds up exchanges because the matrix object can be directly retrieved as a C++ object so we save some json serialization and parsing both on OSRM and VROOM side.

[2019-07-03 08:40] MedAlyH commented on #253
@jcoupey
Thank you for the replay

So if  got it right !

for step 1 and 2 we can either have an exchange through Json files using the osrm_routed_wrapper file or we can get the cost matrix directtly as a c++ object using the libosrm_wrapper file .

Thank you dear sir

[2019-07-03 08:43] jcoupey commented on #253
Exactly. Closing as answered, feel free to reopen if required.

[2019-07-03 08:43] #253 closed

[2019-07-03 09:52] MedAlyH commented on #253
Hello again SIr ;

I would like to ask if at this stage : https://github.com/VROOM-Project/vroom/blob/master/src/routing/osrm_routed_wrapper.cpp#L78  the OSRM start creating the Cost Matrix Right?

THank you in advance

[2019-07-03 10:07] jcoupey commented on #253
This is the part where we copy the OSRM matrix in `infos["durations"]` to our custom `Matrix<cost>` object.

The matrix request is fired [just above](https://github.com/VROOM-Project/vroom/blob/4486868821f9402d73f22f7105e7f7c085c406ff/src/routing/osrm_routed_wrapper.cpp#L54-L56).

[2019-07-03 13:44] MedAlyH commented on #253
Hello SIr,

Can you please help me and tell me what is the cost we are calculating Here :  https://github.com/VROOM-Project/vroom/blob/master/src/problems/tsp/tsp.cpp#L118

and can you please help me understand what we do here : https://github.com/VROOM-Project/vroom/blob/master/src/problems/tsp/tsp.cpp#L205 in the case our matix is not symmetric
did we proceed a local_search directly without heur

[2019-07-03 14:07] jcoupey commented on #246
The sketch for the API addition is simply to add an optional `priority` key in entry for jobs (defaulting to 1). Giving a though to possible values, I came to the conclusion that we should bind them in a predefined range for convenience, and also to avoid huge behaviour inconsistencies due to very different value scales being defined by different users. I'm thinking allowing priority values in the

[2019-07-03 16:01] jcoupey commented on #253
The `tour` parameter describes a solution as a list of location ranks in the matrix, so `TSP::cost` just adds up matrix values to get the whole cost for the tour.

The solution that is used as a starting point when getting back to the asymmetric case is the one obtained after treating the symmetrized problem (or the same reversed if the cost is better).

[2019-07-03 16:55] MedAlyH commented on #253
@jcoupey

Thank you for your replay sir,

But excuse me i still do not get it ! if our matrix is not symmetric and we apply the local search for the symmetric matrix that we used as a starting point we will get wrong results didn't we ?

Sorry to bother you ! but i really need to understand this point

[2019-07-04 08:34] jcoupey commented on #253
When solving a TSP (and only for that kind of problem), switching to a symmetrized version of the problem make it necessary to store [two different matrices](https://github.com/VROOM-Project/vroom/blob/4486868821f9402d73f22f7105e7f7c085c406ff/src/problems/tsp/tsp.h#L33-L34).

Computing the symmetrized matrix happens [in the `TSP` constructor](https://github.com/VROOM-Project/vroom/blob/4486868821f

[2019-07-04 08:44] jcoupey commented on #246
On second though, the problem of a job with priority 10 getting unassigned because we favor 11 priority-1 jobs instead can be leveraged by allowing 0-priority jobs. Then those jobs will have no impact on priority sum but it does not mean we won't consider including them at all. Indeed the [multi-level objective](https://github.com/VROOM-Project/vroom/blob/d2d91cc6d66a42a6d8bff256f07c9974e11e3850/s

[2019-07-04 09:32] MedAlyH commented on #253
@jcoupey

Yeah I know that we calculate the symmetrized matrix ! i'm asking if our problem is not symmetric and we calculate the symmetric matrix and apply the algorithm and the local search then what we do to have the result for the non-symmetric matrix ?
That's what i'm asking about

Si notre cas n'est pas symétrique et on proccéde à le rendre symétrique qu'est ce qu'on fait aprés la résolution

[2019-07-04 15:17] MedAlyH commented on #253
@jcoupey

CHer Monsieur,

Est ce que tu peux m'expliquer comment on force notre solution pour le TSP pour commencer et finir du même point qui est fourni initialement ( dans mon cas c'est l'emplacement du warehouse ) et est ce que ce point rentre dans le calcul . Prière de me répondre.

[2019-07-04 15:29] jcoupey commented on #253
The solution obtained after the Christofides heuristic and local search (with symmetric matrix) is then used in the asymmetric case as **the starting point** of a new local search. This last phase is triggered [here](https://github.com/VROOM-Project/vroom/blob/4486868821f9402d73f22f7105e7f7c085c406ff/src/problems/tsp/tsp.cpp#L212-L217) using the initial matrix so during that step all modification

[2019-07-04 15:35] MedAlyH commented on #253
@jcoupey

OKay Thank you Sir foe your replay !

Can you explain to me how we force our solution for the TSP to start and finish from the same point that is provided initially (in my case it is the location of the Warehouse ) and is that point is taken into consideration when performing the TSP . Please give me an answer

[2019-07-04 15:50] jcoupey commented on #253
For a TSP, the cost of a round trip will be the same no matter where the route starts. Presenting the solution with the input start first happens [here](https://github.com/VROOM-Project/vroom/blob/4486868821f9402d73f22f7105e7f7c085c406ff/src/problems/tsp/tsp.cpp#L239) where `first_loc_index` is the desired tour start. The implementation details are [here](https://github.com/VROOM-Project/vroom/blo

[2019-07-09 09:47] krypt-n opened #254 "Performance improvement opportunities"
Profiling reveals some easy to apply micro optimizations that improve the performance of vroom somewhat

[2019-07-10 09:43] KieCap opened #256 "Invalid shared memory region"
In relation to #181...

Using OSRM v5.22.0 and VROOM v1.4.0. I've ran the following:
[code]

The Node server outputs:
[code]

Any ideas?

[2019-07-10 10:37] KieCap commented on #256
Not sure if it makes any difference, but `/dev/shm` only contains only one file: `osrm-region`

[2019-07-10 15:10] jcoupey commented on #256
As a first step, could you check that the data is still loaded at request time? Either running `osrm-datastore --list` or just a single `top` for memory usage should be enough.

I experienced situations where running `osrm-datastore` from a ssh session, then logging out results in the shared memory being released.

[2019-07-10 15:11] jcoupey commented on #256
As a first step, could you check that the data is still loaded at request time? Either running `osrm-datastore --list` or just a single `top` for memory usage should be enough.

I experienced situations where running `osrm-datastore` from a ssh session, then logging out results in the shared memory being released.

[2019-07-11 09:06] KieCap commented on #256
Hey @jcoupey, see below:
[code]
`htop` shows almost 60 GB of RAM in use, with about half of that in shared memory.

[2019-07-11 09:52] jcoupey commented on #256
I think this is `vroom-express` related. Can you confirm if it works with a direct `vroom` call ?
[code]

[2019-07-11 10:24] KieCap commented on #256
Nope, same error!

[code]

[2019-07-11 10:34] jcoupey commented on #256
Are you running all commands from the same user (just to make sure this is not a problem related to system access)?

[2019-07-11 10:55] jcoupey commented on #256
Forget my previous question, I can reproduce this with OSRM v5.22.0, no matter the dataset name (here with the default `car` value):

[code]

[2019-07-11 11:01] jcoupey commented on #256
Looks like the interface for using named shared memory changed between OSRM v5.19.0 and v5.22.0. :-/

Building `vroom` against `libosrm` v5.19.0 does not issue any warning, while building with v5.22.0 installed triggers:
[code]

[2019-07-11 11:59] jcoupey commented on #256
The problem is due to the addition of a parameter in the `EngineConfig` struct [here](https://github.com/Project-OSRM/osrm-backend/compare/5.19...5.22#diff-3f5ae7b7d34b08dfd6905513ac3f6590) that breaks our [config initialization](https://github.com/VROOM-Project/vroom/blob/6dc72573e83d25d11e56c95850636b2a0ffa44f9/src/routing/libosrm_wrapper.cpp#L23-L37).

[2019-07-11 13:15] jcoupey commented on #256
I just pushed a `fix/libosrm-dataset-name` branch changing the `EngineConfig` initialization to not depend on members order. This should be fine for all `libosrm` versions, I checked locally with v5.19.0 and v5.22.0.

@KieCap can you build `vroom` from that branch to check that your initial problem is fixed?

[2019-07-11 16:26] KieCap commented on #256
Still seems to be happening I'm afraid, but I'll look more closely in the morning.

[2019-07-11 18:51] Kruszylo opened #257 "Compiling docker gives error"
Hi, I'm trying to build docker image with your project and something goes wrong, can you please check the error:
[code]

My Docker file looks like:

[code]

[2019-07-11 21:48] jcoupey commented on #257
There is no "official" docker image for `vroom`, can you share where yours comes from?

However the specific error you get:

[code]

sounds a lot like something related to https://github.com/VROOM-Project/vroom/issues/256#issuecomment-510439450. The proposed fix there is to use the `fix/libosrm-dataset-name` branch.

Maybe this ought to be updated with a more recent OSRM version.

[2019-07-11 22:15] Kruszylo commented on #257
@jcoupey I found a docker image [crashbuggy/vroom-osrm
](https://hub.docker.com/r/crashbuggy/vroom-osrm), I wanted to use it but I. found out that it can't calculate routes for multiple vehicles due to old version of the codes, so I took Dockerfile from the page and to build a new image. At this moment I see that to make it compiled I need to update dependencies, some of them have a certain versio

[2019-07-12 08:18] jcoupey commented on #257
@Kruszylo: if you update the Docker image, maybe @chesty might be interested in having PRs for https://github.com/chesty/vroom-docker.

Closing as this sound more related to Docker than VROOM. Feel free to reopen if needed.

[2019-07-12 08:18] #257 closed

[2019-07-12 08:41] KieCap commented on #256
@jcoupey I did a fresh build of OSRM v5.22.0, and a fresh build of VROOM after checking out to `origin/fix/libosrm-dataset-name` and the error still occurs.

[2019-07-12 10:30] jcoupey commented on #256
Are you seeing any warning when building the `fix/libosrm-dataset-name` branch?

The dataset name should now be correctly set, so maybe you're hitting another problem. In order to confirm, can you check that the profile name passed to the `osrm::EngineConfig` is correct when running `vroom`, e.g. by applying this patch:

[code]

[2019-07-12 10:49] KieCap commented on #256
Applied the diff, ran `make clean`, and then `make`:
[code]
[code]
[code]

[2019-07-12 12:25] jcoupey commented on #256
I don't get it, you should have a new line outputted from:

[code]

Just in case, the `vroom` executable being rebuilt is the one you're calling (`/opt/osrm/vroom/bin/vroom`)?

[2019-07-12 13:44] KieCap commented on #256
Yeah it is! I don't get it either! To confirm, I updated `MAJOR` in `utils/version.h` so all my changes are as follows:
[code]
(based on `HEAD detached at origin/fix/libosrm-dataset-name`)

Version number update:
[code]
For the sake of it, I tried renaming the dataset net to remove the hyphen, so it's just `eucar`, as follows:
[code]
And then ran VROOM again:
[code]

[2019-07-12 14:39] jcoupey commented on #256
My bad, if the dataset name is not correct, the error is thrown when initializing the `osrm::OSRM` object with `_osrm(_config)` so the `LibosrmWrapper` constructor body if not reached at all.

Can you output the content of the `profile` variable inside `LibosrmWrapper::get_config` with something like:

[code]

[2019-07-12 14:40] jcoupey commented on #256
Also to try and reproduce, what is your gcc version?

[2019-07-12 15:16] KieCap commented on #256
Profile recognised OK:
[code]
[code]

Would doing all this as `root` make any difference?

[2019-07-12 15:31] jcoupey commented on #256
I have the exact same `gcc` and OS version... Maybe there is something going on with system permissions that comes in the way and make shared memory inaccessible to the user running `vroom`.

I think at that point it would be a good thing to test `libosrm` usage itself in isolation. You could do that by  adjusting and compiling the [basic example](https://github.com/Project-OSRM/osrm-backend/blob/

[2019-07-15 08:34] senhalil opened #258 "TSP with no start or end depot for the vehicle"
Hello,
We are solving a TSP problem in which there is no start nor end depot for the vehicle (which is not supported by vroom)
To circumvent the depot limitation, we created an auxiliary node which has zero distance to all other nodes and set this node as the start node of the vehicle.
However, we are not sure if our "trick" is supported or not. Can you see any issues with this approach?
If not, I

[2019-07-15 20:53] jcoupey commented on #258
The "start-only" case for TSP is already hacky, as we actually still compute a round trip while [making sure](https://github.com/VROOM-Project/vroom/blob/4486868821f9402d73f22f7105e7f7c085c406ff/src/problems/tsp/tsp.cpp#L67-L75) the last cost (any end job to the start) is zero. Then we present the tour [from the start](https://github.com/VROOM-Project/vroom/blob/4486868821f9402d73f22f7105e7f7c085c

[2019-07-24 14:14] mhosman commented on #189
Maybe this could be achieved with #246 if you put the jobs with priorities in your desired order???

[2019-08-05 09:50] jcoupey commented on #254
Landed with #255.

[2019-08-05 09:50] #254 closed

[2019-08-05 10:11] jcoupey commented on #245
Closing as stale. We should probably open new tickets for specific topics if required in the future.

[2019-08-05 10:11] #245 closed

[2019-08-05 10:12] jcoupey commented on #248
Looks like this has been answered. Feel free to reopen if required.

[2019-08-05 10:12] #248 closed

[2019-08-05 10:14] jcoupey commented on #238
Closing here, feel free to reopen if required.

[2019-08-05 10:14] #238 closed

[2019-08-05 10:28] jcoupey opened #260 "Update Travis configuration for Bionic"
We're experiencing failed CI builds that are related to apt errors with broken dependencies or missing packages. This is probably related to the fact that Xenial is now [the default build environment](https://changelog.travis-ci.com/xenial-as-the-default-build-environment-99476) and our Travis configuration still uses some hacky workarounds for Trusty.

Probably also a good opportunity for a coupl

[2019-08-05 12:32] jcoupey commented on #260
Looks like Ubuntu Bionic is now available for Travis builds. :tada: That's good news because building a recent OSRM version with the default boost packaged for Xenial result in linking errors...

[2019-08-05 14:39] #260 closed

[2019-08-09 08:18] #246 closed

[2019-08-09 09:44] MedAlyH commented on #253
Hello sir, i would like to ask you if in our case to solve TSP we are using the Table service provided by OSRM or another service ? and we are using it through HTTP requests ?

[2019-08-09 11:40] jcoupey commented on #253
Yes, the `table` OSRM endpoint is used before optimization, then `route` requests can be fired after to get detailed route geometry. There are two ways the requests can be performed (see `-r` flag):

- via HTTP [here](https://github.com/VROOM-Project/vroom/blob/3b656cb2ccb6f5adb1df98e25e7b0319f2ba129e/src/routing/osrm_routed_wrapper.cpp#L53)
- using OSRM as a C++ library [here](https://github.com/

[2019-08-20 00:08] dbhoot opened #263 "User defined hard / soft constraints"
It'd be nice if we could implement our own user defined constraints (hard or soft). A hard constraint we often use is a vehicle not being allowed to perform more than `x` jobs or work longer than `y` hours.

A common soft constraint we use is the distance outside of a certain polygon.

[2019-08-20 00:49] dbhoot opened #264 "Plugins for other matrix providers"
Besides osrm it'd be useful to enable other distance matrix providers such as mapbox, here maps, google distance matrix, or your own home made distance matrix.

[2019-08-20 00:53] dbhoot commented on #264
Actually this request similar to #219

[2019-08-20 00:53] #264 closed

[2019-08-20 01:08] dbhoot commented on #42
I second this request. I think it'd be good to have javascript and or python wrappers so that the vroom solver can be invoked from other high level languages

[2019-08-20 11:06] jcoupey commented on #263
All constraints we currently take into account are hard constraints. They're not used at all in the optimization objective, just for validity checks: a solution is either valid if all constraints are met or not considered at all for evaluation.

Adding *arbitrary* user-defined hard constraints would be far from trivial because the solving approach is tightly coupled with what constraints we handle

[2019-08-20 11:20] jcoupey commented on #42
@dbhoot thanks for your interest. This ticket was primarily about compiling a C++ library, which is now effective, and I've had a couple reports from people using this successfully in their own C++ code. The reason I did not close here is that I still consider it as experimental (read "I don't want to be bound to the C++ API, and any internal change will not be considered as a breaking change"). I

[2019-08-20 17:14] sashakh commented on #42
Yet another report. I'm using libvroom constantly and successfully. )
Sometimes (rear) need to upgrade API - not a big deal. )

On Tue, Aug 20, 2019, 14:20 Julien Coupey <notifications@github.com> wrote:

[2019-08-21 00:12] dbhoot commented on #42
I saw the express project. If I remember correctly, it basically shells out to invoke the binary.

The PR sashakh made is great for c++ projs. I didn't try creating v8 bindings using swig or something based on his work but I'm sure it's possible with some work.

My point in commenting above is that I generally think it makes the project more useful.

[2019-08-21 00:58] dbhoot commented on #263
Also aware of the challenges here. I kind of like how `or-tools` does this. If I remember correctly, you can add a constraint object to a general csat problem and then pass it off to a solver. I'm not familiar enough with the vroom codebase to know if a similar approach could work here. But it's def worth checking out. https://github.com/google/or-tools/blob/master/ortools/constraint_solver/constr

[2019-08-21 03:49] dbhoot commented on #219
I'd like to second this as well. Mapbox, Here Maps, Google Maps, are all worth supporting.

It'd also be nice to define an interface so you could integrate your own distance matrix.

[2019-08-21 08:21] jcoupey commented on #219
Coming up with a generic way to support different providers would not be such a big deal, we kind of sketched it all up above. This is not a priority on my side right now though, this is why I moved it to the `v1.6.0` milestone and I'm currently focusing on the remaining tasks for `v1.5.0`.

This is already working out of the box with json instances: see [the matrix object](https://github.com/VROO

[2019-08-26 10:28] jcoupey commented on #263
Yes, we don't have this kind of easy way to add a constraint. The validity checks related to constraints are directly embedded within the heuristic and local search procedure. See e.g. the various `is_valid` implementations for local search operators in `problems/cvrp/operators` and `problems/vrptw/operators`.
The way we extend the features is by adding new constraints gradually and adjusting the

[2019-08-28 23:03] MedAlyH commented on #253
Hello Sir ,
Excuse me I have a question concerning the TSP ! you said "For a TSP, the cost of a round trip will be the same no matter where the route starts." can you explain me more how the choice of the start point did not affect the resolution of the TSP and thank you a lot

[2019-08-29 07:24] jcoupey commented on #253
I meant that a round trip A -> B -> C ->D -> A (presented in the output as starting from A) will have the same cost whatever the start point, e.g. C -> D -> A ->  B -> C (presented in the output as starting from C).

[2019-08-29 07:39] MedAlyH commented on #253
Thank you , for you reply

So it wont affect the resolution of the tsp if in each time i fix the same starting and ending point and i only change the jobs ( stops ) ?

[2019-08-29 07:49] jcoupey commented on #253
I mean for a **given** round trip the cost is the same. `A -> B -> C ->D -> A` and `C -> D -> A -> B -> C` have same cost because the jobs have **the same ordering**, no matter the starting point (all visited edges are the same).

If you change the ordering and/or the stop locations of course the cost will be different.

[2019-08-29 08:10] MedAlyH commented on #253
Sorry sir you still do not get me ! i meant if i start by fixing my start and ending point which is the same  ( the warehouse placement in my case ) and then i give the locations of the jobs would this affect the tsp resolution as i forced the starting and the ending point , the algorithm will not choose the starting point he will start by searching the first job

[2019-08-29 09:29] jcoupey commented on #253
From the TSP perspective, the start of a round trip does not matter (see above), so the trip is stored as a [plain set of edges](https://github.com/VROOM-Project/vroom/blob/3b656cb2ccb6f5adb1df98e25e7b0319f2ba129e/src/problems/tsp/heuristics/local_search.h#L26). Then the [`get_tour`](https://github.com/VROOM-Project/vroom/blob/3b656cb2ccb6f5adb1df98e25e7b0319f2ba129e/src/problems/tsp/heuristics/lo

[2019-08-30 18:18] didac-wh opened #265 "Problem compiling VRoom due to boost lib"
Hi, no C++ programmer here.

I could compile boost library, VRoom, OSRM project and processed a map through the different stages.
However, when I try to execute the vroom executable it says the following:
`./vroom: error while loading shared libraries: libboost_system.so.1.71.0: cannot open shared object file: No such file or directory`

Compiled boost library is located in /usr/local/lib. I locat

[2019-08-30 20:40] jcoupey commented on #265
You probably need to run `ldconfig` after a manual boost install:

[code]

[2019-09-02 09:30] didac-wh commented on #265
Thanks for your help. That makes totally sense. However, after executing it the same problem remains (error while loading shared libraries: libboost_system.so.1.71.0: cannot open shared object file: No such file or directory)

I tried to execute your command with verbose option and the lib is indeed listed, see below:
`libboost_date_time.so.1.71.0 -> libboost_date_time.so.1.71.0
        libboost_c

[2019-09-02 10:03] didac-wh commented on #265
I add some more details:
When compiling boost I noticed it uses a 64 bit model, and I saw I have a /usr/local/lib64 directory that was empty.
Using address-model=64 was installing the libs into /usr/local/lib anyway so I copied /usr/local/lib contents to /usr/local/lib64 and did **sudo ldconfig -n /usr/local/lib64**. Unfortunately, nothing changed, I'm still getting the same error.

[2019-09-02 10:52] jcoupey commented on #265
The weird thing is that if you're able to build running `make`, it means that boost is successfully found at compile-time. Can you try forcing the path to your custom boost install in the makefile:

[code]

(replacing `/usr/lib/x86_64-linux-gnu/libboost_system.so` with a relevant path on your system) then recompile `vroom`?

[2019-09-02 10:59] didac-wh commented on #265
I've been trying different things during the last couple hours and finally the following worked:
LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/usr/local/lib ./vroom

(After that I set its value inside /etc/.profile to make it persitent between sessions).

During compilation it worked indeed, the problem occured only during execution.

I appreciate very much your help.

[2019-09-02 11:01] jcoupey commented on #265
So your initial problem is now solved and you're able to run `vroom`?

[2019-09-02 11:03] didac-wh commented on #265
Yes, I'll close the issue, hope it's useful for somebody else in the future. Thank you.

[2019-09-02 11:03] #265 closed

[2019-09-02 11:04] jcoupey commented on #265
Thanks for sharing what worked for you.

[2019-09-03 08:22] jcoupey opened #266 "Cut down validity checks time"
A bit of profiling on current master (e.g. on solomon instances) shows that most of the local search time ­- that is most of the overall time - is spent in various operators validity checks, while computing potential gain for operators does not take that long. This makes sense as validity checks are usually performed **prior** to potential gain checks, so they are the front-facing way of discardin

[2019-09-04 10:36] jcoupey opened #267 "Deprecate CVRP clustering heuristics?"
The current clustering heuristics build job clusters for each vehicle, then run a single TSP per vehicle to get an initial set of routes. Because there is no notion of TW validity in the clustering process (that would be #139), it only applies to CVRP so far.

When used in a delivery-only context, this is all fine, but in the light of #262 this approach does not hold out-of-the-box anymore. Indeed

[2019-09-04 13:03] jcoupey commented on #267
A couple experiments show that a (quite basic) tuning change that rules out all clustering heuristics for CVRP does perform nearly as well as the current setting. Results are very close in term of quality and can be improved upon, computing times are roughly identical as expected. So this is a go for deprecation of the CVRP clustering heuristics.

[2019-09-05 15:18] jcoupey commented on #266
This works beyond my expectations! https://github.com/VROOM-Project/vroom/pull/262#issuecomment-528419945

[2019-09-09 15:52] jcoupey commented on #256
@KieCap any update on this? Did you get a chance to test `libosrm` in isolation?

For what it's worth: I'll merge #259 before the next release in any case, even if it does not fully solves this issue.

[2019-09-13 10:22] jcoupey commented on #256
The `osrm::EngineConfig` init fix has been merged with #259. I'm keeping this ticket open in case further inquiries are necessary.

[2019-09-15 02:46] K-Leon commented on #189
We‘re also looking for a simple trick to maintain order. e.g. making sure the same shipment get’s picked up before delivery is planned. More or less a classical courier scenario.

[2019-09-15 19:47] mhosman commented on #189
@K-Leon exactly!

[2019-09-17 07:22] KieCap commented on #256
Hey @jcoupey...no I didn't, sorry. I've actually moved on to pastures new in terms of work, so I may not be looking at it again I'm afraid!

[2019-09-17 08:12] jcoupey commented on #256
@KieCap thanks for your feedback. Considering I couldn't reproduce the remaining problem myself and a fix for the obvious bug has already been merged with #259, I'm closing this ticket for now. Anyone running into similar trouble is welcome to comment here though.

[2019-09-17 08:12] #256 closed

[2019-09-17 08:27] #197 closed

[2019-09-17 08:27] #266 closed

[2019-09-17 08:27] #267 closed

[2019-09-17 08:32] jcoupey commented on #241
It's possible to test this off the `master` branch using the new `delivery` and `pickup` keys for jobs. Check out the updated API docs, any feedback welcome!

[2019-09-17 08:32] #241 closed

[2019-09-23 09:40] braktar opened #268 "[v1.4] Wrong quantity key"
While trying to update Vroom, I followed the tag v1.4.

I've tried to update the keys I used. But the key 'pickup' wasn't defined in this version.
The size of quantities and capacities are compared. Even if one of those entities doesn't exist.
This has generated a SegFault. The problem is fixed in v1.5 rc1. But here is a minimal example to keep track of it:
`{
  "vehicles": [
    {
      "id": 0,

[2019-09-23 12:25] jcoupey commented on #268
We normally check for consistent lengths between vehicle `capacity` and job `amount` arrays (here having no `amount` for jobs defaults to creating an empty array). The [check for v1.4](https://github.com/VROOM-Project/vroom/blob/release/1.4/src/structures/vroom/input/input.cpp#L174-L187) relies on a `_locations` vector being empty to spot the first call to the check. It turns out this is flawed wh

[2019-09-23 13:12] jcoupey commented on #268
As mentioned above, this is fixed in `v1.5-rc.1` as checks for amount size consistency have been refactored, so I don't think it's worth issuing a patch for the `v1.4` series. Let's just keep this ticket open until `v1.5` is published (and to use as a reference for anyone hitting the same issue with `v1.4`).

@braktar thanks for reporting!

[2019-09-28 08:17] ifle opened #269 "How to run vroom on windows?"
How to run vroom on windows?

[2019-09-29 05:00] ifle opened #270 "Job unassigned reason?"
First of all thanks for a great library. I am impressed with performance.
How to check a reason for unassigned jobs? It’s important for customers to know the reason for unassigned jobs

[2019-09-30 10:38] jcoupey commented on #269
You should simply compile the code with any C++ compiler/toolchain you have available, using the provided makefile. I have no experience with such tools in windows so I can't provide more feedback myself.

We've had a couple of successful windows compilation reports after some troubleshooting in #60 and #207. Of course we only hear about the problems, so there may be users out there that built suc

[2019-09-30 10:55] jcoupey commented on #270
There is no built-in way to provide job-level feedback for non-assignment because we look at the whole picture to decide on which solution to pick. So the "reason" for picking a solution over another (i.e. the optimization objective) currently is:

1. overall priority score is better
2. number of unassigned jobs is better (with equal value for 1.)
3. overall travel time is better (with equal value

[2019-09-30 11:57] ifle commented on #270
Thanks for your explanation. At the moment, we are using jsprit and it provide the unassigned reasons.
Your are right that the reason are related to constraints like time window, capacity, skills or custom constraints. Jsprit is very flexible and we have customs constraints too.
I'm trying to compare the features sets. The performance of the vroom is amazing and I'm trying to understand if we can

[2019-09-30 12:11] ifle commented on #269
Unfortunately I'm not familiar with C++ and it took me a time to get it to compile. I don’t know why, the ERROR class is conflicted with some another ERROR type. I've renamed it to VROOM_ERROR as also some several c++ files with the same names.

[2019-09-30 12:16] jcoupey commented on #270
That's nice to hear! Thanks for the feedback and context. If you're running comparison tests, I'd be really interested in the outcome for global indicators on both solution quality and computing times.

I have no clue how providing "reasons" works within jsprit, my guess would be they have some kind of heuristic way to determine the most plausible human-readable reason. The best way to learn about

[2019-09-30 12:20] ifle opened #271 "Multi-Trip"
I am trying to model the multi-trip and seems the vroom is not support it
Small example : 1 vehicle with capacity 2, start and end in the depot. 4 jobs with capacity 1.
The expected route is [depot] -> job1 -> job2 -> [depot] -> job3 -> job4 -> [depot]

[code]

[2019-09-30 12:24] jcoupey commented on #269
This is weird, the [definition](https://github.com/VROOM-Project/vroom/blob/70deadafbab175336bce210c6ae5232d26cd8ffb/src/structures/typedefs.h#L63) already happens under a dedicated namespace so it's actually `vroom::ERROR` in order to avoid exactly this kind of conflict.

Anyway feel free to close here if there is no more action/info required.

[2019-09-30 12:29] jcoupey commented on #271
Closing as duplicate of #188.

[2019-09-30 12:29] #271 closed

[2019-09-30 12:59] ifle commented on #270
I'm starting playing with vroom and can compare the solution quality. The problem that I run on our real customer data and can't to share them publicly. I can share the data privately.
Another problem is that it is not always easy to compare, because we use features of jsprit which are not present in the vroom like shipments (pickup-delivery), initial route(predefined sequence of jobs) or addition

[2019-09-30 13:02] #269 closed

[2019-09-30 13:17] ifle commented on #270
I have example of comparison between jsprit and vroom. By my opinion the jsprit solution is more accurate. How to share it?

[2019-10-01 13:45] jcoupey commented on #270
Yes, you'd have to do the comparisons on problem instances that have the same scope in term of constraints, and the same input matrix (that's probably OK if you're using OSRM).

What you can share publicly is some insights on quality and computing times. For any other matter, you can reach me directly at contact@verso-optim.com.

Thanks for sharing the code links regarding the rejection reasons. I

[2019-10-02 08:22] #258 closed

[2019-10-03 07:21] ifle commented on #270
jsprit support one reason per job. From the user point of view it's very helpful.
It helps to customers understand why some job out of route. For our customers it's very important.

I did comparison with 600+ jobs and 40 vehicles from one of our customer.
Jsprit created routes with 23 vehicles. vroom with 25.
From customer view of point using of additional vehicles is very expensive. In other hand

[2019-10-03 07:29] unguul opened #272 "Cost vs Duration vs Service"
I'm unsure what the difference between `cost`, `duration`  and `service` is. My current understanding based on the docs and examples is the following:

- `service` is time it takes to load/unload when servicing a job;
- `duration` is the time it takes for travelling to the job location;
- `cost` is the total cost for completing a particular job. i.e. `service` + `duration`;

This applies to both t

[2019-10-03 09:37] jcoupey commented on #270
Yes, for a fair comparison, you also want to make sure that the optimization objective is the same.

Our main optimization objective is minimizing overall travel duration, not number of vehicles. This is sometimes strongly related, but not always.

We have no built-in way to balance number of jobs among drivers, though there has been a related discussion back in #225.

[2019-10-03 09:52] jcoupey commented on #272
Correct. `duration` is always a travel time (maybe it should have had a different name in the first place). Both `service` and `duration` are represented as `vroom::Duration` [internally](https://github.com/VROOM-Project/vroom/blob/70deadafbab175336bce210c6ae5232d26cd8ffb/src/structures/typedefs.h#L30).

No, `cost` here refers to the solution cost, as seen from the optimization point of view. Curr

[2019-10-03 11:57] unguul commented on #272
@jcoupey Thank you for clarifying that. Is it ok if I send a PR to put this information in the docs?

[2019-10-03 12:04] jcoupey commented on #272
Yes, I guess that would make sense to mention that `cost` only refers to the solution evaluation during optimization, and that it's currently equal to `duration` in all cases.

[2019-10-05 17:51] andreasviklund opened #273 "Max travel time in a route"
Is it possible to set maximum working hours for a vehicle, instead of setting a fixed time window?

Instead of setting time window to 08:00-16:00 it would be great to set working time to 8 hours and the start and end time for the vehicle is flexible depending on the time windows on the jobs

[2019-10-07 12:26] jcoupey commented on #273
There is no built-in way to do this right now. It could probably be added without too much changes to the current solving process. What would be required would be to store the current working hours for all routes, and then write checks for every solution change (heuristic addition or local search step) to rule out the ones that break this constraint.

Having efficient (read constant time) checks f

[2019-10-07 13:01] jcoupey commented on #189
In term of API, the difference with the current notion of `job` is that some info are shared between pickup and delivery, some are not. A way to deal with this would be to introduce a new job type that would have the common keys at higher level, then `pickup` and `delivery` objects for specific stuff.

[code]

This is both similar but different to the current `job` interface: `pickup` and `deliver

[2019-10-07 14:35] unguul commented on #272
@jcoupey Is there a particular reason for not including the service time in the `cost`?

From my point of view, it would make sense to do so as certain jobs could considerably impact the `cost` of individual jobs and as such, certain jobs would be more suitable for other vehicles.

I did take a look at previously open issues (closed and open) but have not found much on this subject.

Thank you!

[2019-10-07 15:25] cedric-holdy opened #276 "Mac Compilation Error"
I am on mac and I use Xcode.
However, I cannot compile the project (v1.4.0).
Which OS and IDE do you use?

[2019-10-07 15:32] jcoupey commented on #276
Could you copy-paste here the output of the `make` command when following the [build instructions](https://github.com/VROOM-Project/vroom/wiki/Building)?

[2019-10-07 15:40] cedric-holdy commented on #276
c++ -MMD -MP -I. -std=c++14 -Wextra -Wpedantic -Wall -O3 -DNDEBUG -std=c++14 -DBOOST_TEST_DYN_LINK -DBOOST_SPIRIT_USE_PHOENIX_V3 -DBOOST_RESULT_OF_USE_DECLTYPE -DBOOST_FILESYSTEM_NO_DEPRECATED -I/usr/local/include -I/usr/local/anaconda3/include -I/usr/local/include/lua -I/usr/local/anaconda3/include -I/usr/local/include -I/usr/local/include/osrm -D USE_LIBOSRM=true -c main.cpp -o main.o
c++ -MMD -

[2019-10-07 15:53] jcoupey commented on #272
Suppose we include service time in the solution cost as the sum of all service times across assigned jobs:

- for solutions that handle all jobs, this is a fixed value so from the optimization perspective it has no impact on which solution we pick
- if not all jobs are included **and** if service times vary significantly, then yes it might impact the chosen solution and which jobs end up unassigne

[2019-10-07 15:57] cedric-holdy commented on #276
Hi, I did it. Thank you.

[2019-10-07 16:07] jcoupey commented on #276
Right, there is a missing `string` include and this has actually already been fixed in #232. You have basically two options:

- checkout the `v1.5.0-rc.1` tag to build the latest release candidate that includes the fix (that's what I'd suggest)
- stick with `v1.4.0` and add the missing includes following [those changes](https://github.com/VROOM-Project/vroom/pull/232/files) in `src/structures/type

[2019-10-07 16:07] #276 closed

[2019-10-07 16:21] cedric-holdy commented on #276
Thank you.

[2019-10-08 08:01] unguul commented on #272
@jcoupey Thank!

[2019-10-08 10:26] showkeyjar commented on #263
please add `amount` component to the API document. the newest document just have `capacity`.

[2019-10-08 10:36] cedric-holdy opened #277 "Error Compilation v.1.5 on mac"
c++ -MMD -MP -I. -std=c++14 -Wextra -Wpedantic -Wall -O3 -DNDEBUG -std=c++14 -DBOOST_TEST_DYN_LINK -DBOOST_SPIRIT_USE_PHOENIX_V3 -DBOOST_RESULT_OF_USE_DECLTYPE -DBOOST_FILESYSTEM_NO_DEPRECATED -I/usr/local/include -I/usr/local/anaconda3/include -I/usr/local/include/lua -I/usr/local/anaconda3/include -I/usr/local/include -I/usr/local/include/osrm -D USE_LIBOSRM=true -c main.cpp -o main.o
c++ -MMD -

[2019-10-08 19:08] jcoupey commented on #263
@showkeyjar if by "the newest document" you mean current `master` or the `release/1.5` branch, then `amount` is mentioned all right. You can still use it for backward compatibility, but it is marked as deprecated and replaced by the `delivery` and `pickup` keys.

[2019-10-08 19:20] jcoupey commented on #277
This is not related to our codebase: the `boost_thread` library is not found on your system at the linking stage. I've no idea how installing boost stuff happens on a mac so you'll have to look that up.

[2019-10-08 22:36] cedric-holdy commented on #277
Thank you. I replace **boost_thread**  by **boost_thread-mt** .  I also remove **-lrt -ltbb** in makefile.
It's work !

[2019-10-09 01:35] showkeyjar commented on #263
@jcoupey ok, got it,thanks.

[2019-10-09 08:27] jcoupey commented on #277
Glad you found a way. Closing here.

[2019-10-09 08:27] #277 closed

[2019-10-11 01:56] showkeyjar commented on #270
`number of unassigned jobs is better (with equal value for 1.)`
how to minimize unassigned jobs? and set it as the first rule?

[2019-10-11 13:25] jcoupey commented on #270
I you set the same priority level to all jobs or don't use priorities at all, then minimizing the number of unassigned jobs is already the first rule.

[2019-10-14 07:21] #272 closed

[2019-10-14 07:43] #268 closed

[2019-10-23 00:05] cedric-holdy opened #278 "Use version 1.5 to solve version 1.4 cvrptw problem"
Is it possible to use version 1.5 to solve version 1.4 cvrptw problem ?

[2019-10-23 12:07] jcoupey commented on #278
We use semantic versioning, so yes. The `amount` key for jobs is marked as deprecated but backward compatibility is ensured. If you have your own toolchain setup to format instances and use v1.4 solutions, you should be able to upgrade seamlessly to v1.5.

You can refer to the [parsing logic](https://github.com/VROOM-Project/vroom/blob/39229cbb9aa2970d7a1994dfa9941fa3fc8b7c8e/src/utils/input_parse

[2019-10-23 12:29] cedric-holdy commented on #278
Thank you very much. 👍

[2019-10-23 12:30] #278 closed

[2019-10-26 10:10] marek1545 opened #279 "Problem to compile Vroom - make"
Hello,
I have problem with function make. I work on debian 8. I installed osrm, download maps everthing work but I can't compile vroom. I don't have any idea how to fix this.

My console show:
g++ -MMD -MP -I. -std=c++14 -Wextra -Wpedantic -Wall -O3 -DNDEBUG -std=c++14 -DBOOST_TEST_DYN_LINK -DBOOST_SPIRIT_USE_PHOENIX_V3 -DBOOST_RESULT_OF_USE_DECLTYPE -DBOOST_FILESYSTEM_NO_DEPRECATED -I/usr/include

[2019-10-26 16:32] jcoupey commented on #279
The error is related to the libosrm code used, can you share the version of libosrm you have installed?

[2019-10-26 23:48] marek1545 commented on #279
Thanks for response.  I install OSRM-BACKEND 5.21.0. Is newest version osrm project.

[2019-10-27 10:36] jcoupey commented on #279
I can't reproduce this when building against `libosrm` v5.21.0. Can you share what version of `vroom` you're trying to build, and what version of `g++` you're using?

[2019-10-27 19:02] marek1545 commented on #279
Ok. I start for begining.  I have server Plesk Onyx on Debian 8 (jessie)

I install only:
from standard contribute
make Version:  4.2.1
pkg-config Version:  0.28
libstxxl-dev Version: 1.4.0-3
libxml2-dev Version: 2.9.1+dfsg1-5+deb8u7
libsparsehash-dev - Version: 2.0.2-1
libbz2-dev  Version: 1.0.6-7+deb8u2
zlib1g-dev Version: 1:1.2.8.dfsg-2+b1
libzip-dev Version: 0.11.2-1.2
libgomp1 Version: 9.2.1-

[2019-10-27 20:11] jcoupey commented on #279
Thanks for the details.

We don't have automatic Travis builds for g++-9 (yet). But I just successfully built vroom v1.5.0 against libosrm v5.21.0 using g++-9 (version 9.2.1) under Ubuntu.

Did you checkout v1.5.0 for vroom or are you trying to build an older version?

[2019-10-28 02:31] marek1545 commented on #279
Unfortunately I can't compile vroom from your advice. I reinstall server. After that I compile vroom on gcc, libboost, g++ on debian standard contribute and later I change gcc, libboost, g++ testing contribute and install osrm-backend.

Now works vroom and osrm.

But I have problem with vroom-express  node console show me.
Mon, 28 Oct 2019 02:15:48 GMT: /bin/sh: 1: vroom: Permission denied

I comp

[2019-10-28 08:53] jcoupey commented on #279
If you compile vroom without `libosrm` installed, then the file `routing/libosrm_wrapper.h` (the one that links to OSRM stuff causing trouble) is not used at all. Then you won't be able to use OSRM as a library (`vroom -r libosrm`). But if you plan to run `osrm-routed` for routing this is totally fine.

The user running `vroom-express` probably does not have execution rights on `/usr/bin/vroom`. Y

[2019-10-28 09:14] marek1545 commented on #279
Yes. I only want use routing.

In first i was think only osrm-backend and option trip is for me good enough. But routs returning from osrm it isn't that same as return from http://solver.vroom-project.org

I add chmod 777 on vroom folder and still I have vroom: Permission denied.

Can you show me expample how I use vroom routing from bash not from vroom-express.

I'm very sorry I don't have experi

[2019-10-28 09:35] jcoupey commented on #279
To use from command-line, just save your input to a json file and run `vroom` on it. See [Usage page](https://github.com/VROOM-Project/vroom/wiki/Usage) from the wiki.

[2019-10-28 09:59] marek1545 commented on #279
I very grateful is working from file. Awesome.

Now I will try to fix vroom-express permission but I in the worst case I will use json file and vroom.

Thank you very much for your time and patience for me.

[2019-10-28 09:59] #279 closed

[2019-11-13 06:04] ifle commented on #263
Ability to write custom constraints is very important and must be part of the library. For example we have customers requiremtns that no 2 different products can be transported in the same vehicle at the same time. This important if products require different temperatures, for example  meat and vegetables & fruits.

[2019-11-13 12:06] jcoupey commented on #263
Hi @ifle, thanks for your input, comments and use-case examples are highly valuable. But please refrain from stating what "must" be integrated in the project. There are several reasons for this:

1. What is badly needed in one use-case does not necessarily match the most common requirements, or what the project is designed for (see also 2 and 4).
2. As mentioned above, design choices for the solvi

[2019-11-13 13:00] ifle commented on #263
Sorry for "must". Really I'm very impressed from your works.
By my opinion - the core library can't coverage all use cases - then ability to extensibility is very important for each library. Sorry again

[2019-11-13 13:32] jcoupey commented on #263
@ifle no problem, just wanted to make things clear regarding choices and roadmap.

Again, from the current approach and codebase, my view is that adding more flexibility in constraints description could only happen at the expense of much longer computing times. I don't really want to go this way now because getting "good solutions fast" is the motto. And also we have other important unimplemented

[2019-11-13 13:41] ifle commented on #263
Is there roadmap? I seen you worked on shipments

[2019-11-13 15:06] jcoupey commented on #263
Nothing formal, but the next [milestone](https://github.com/VROOM-Project/vroom/milestones) is usually set. This may be subject to changes but gives an overall idea of the mid-term prioritized features.

[2019-11-14 14:22] unguul opened #280 "Where's the verbose flag?"
I was getting the following on v1.4.0
[code]
so I started looking around for a verbose/debugging flag to `vroom` but did not find any. I did find some issues and PRs that vaguely mentioned logging but that lead nowhere.

Perhaps a command line flag that would make `vroom` crash loudly would be appropriate?

Fortunately(?), my error just went away after restarting the osrm instance but that error m

[2019-11-16 01:41] jcoupey commented on #280
We used to have a verbose flag in the early days, mostly to keep track of how the solving approach went on and output some basic info during solving. It came to a point where it was really messy and not really usable any more with the introduction of concurrent solving, so I removed it.

Now regarding your error with code 1 ("internal error"), the only place where it can come from is [this catch](

[2019-11-19 13:53] unguul commented on #280
@jcoupey  Indeed.

However, I did notice some weird behavior on some other servers I use, unrelated to `vroom` or OSRM but they do all have 1 particular change in common which caused other to require a reboot in order to function properly. Perhaps we could extend the error handling of `vroom` to report issues in communicating with OSRM more clearly?

[2019-11-19 15:06] jcoupey commented on #280
Errors happening during exchanges with OSRM (initial table request or route queries after solving) should already have their own "routing error" [status code](https://github.com/VROOM-Project/vroom/blob/master/docs/API.md#code). There are basically two options:

- your error is related to OSRM and not catched appropriately. Then not filing the correct error code (and more explicit error message) i

[2019-11-19 15:41] unguul commented on #280
@jcoupey Since the issue went away as soon as I rebooted the OSRM instance I'd be inclined to say it was OSRM that was not replying appropriately, or at all.

I'll close this issue since I can't reproduce the problem.

Thanks for the help! :+1:

[2019-11-19 15:41] #280 closed

[2019-12-16 18:08] jcoupey opened #281 "Improve local search aborts based on incompatibilities"
We store various incompatibilities between vehicles and jobs (based on skills and other constraints) for constant-time lookup through `Input::vehicle_ok_with_job`. This *used to* allow early aborts for many operators during local search as compatibility is typically checked first place in `cvrp::OperatorName::is_valid`.

Now since #266 has been implemented, most validity checks happen after gain c

[2019-12-16 18:09] jcoupey commented on #281
Note: no change expected on problems with no incompatibilites (e.g. CVRP/VRPTW benchmarks) but it would be interesting to measure impact on situations where defined skills result in a lot of incompatibilities between jobs and vehicles.

[2019-12-18 13:58] ivosabev opened #282 "Prioritize time windows over travelled duration"
Is there currently a way to prioritize the vehicles to be more on time on the expense of adding more travel duration?

[2019-12-18 14:04] ivosabev opened #283 "Option to use all vehicles provided to the solver"
It would be nice if we can set a flag that requires the solver to provide as many routes as vehicles available in the solution. Eg. we have 6 vehicles and we want 6 routes as a result.

This can be somewhat hacked with using capacity, but if we have 3 vehicles and 30 tasks, then we would get 3 routes with 10 tasks roughly: 10-10-10, but sometimes a more optimal solution would be 15-11-4.

[2019-12-18 17:28] jcoupey commented on #283
Currently the reason for providing a solution with less routes than vehicles in input is that it's cheaper in term of overall travel time. Can you expand on the use-case you have in mind and the reasons why you'd rather have a longer solutions with all vehicles used?

[2019-12-18 17:34] jcoupey commented on #283
For now you have a couple options on the hacky side:
- use capacities as suggested, but with more flexibility (something like 14-14-14 in your example)
- reduce vehicle time windows to make sure all vehicles are required, thus reducing solution makespan
- make sure one job has to be serviced by each vehicle using skills (not very practical because you then have to pick which job/vehicle)

[2019-12-18 17:38] jcoupey commented on #282
I'm not sure I get what you mean exactly by "more on time".

Currently if a vehicle can't make it on time for one job (read arrival at job is not inside one of the job time-windows), then the associated route is considered invalid and is discarded.

[2019-12-19 20:09] stefanocudini opened #284 "caching system"
this engine has any type of storage system integrated? for example caching of problem's results or other? Or each calculation simply occur in RAM each time again from zero?
Does it consume some disk space besides binaries and configurations?

[2019-12-20 09:48] ivosabev commented on #282
My bad, there was an error in my implementation, now it works fine and late tasks are left unassigned.

[2019-12-20 09:48] #282 closed

[2019-12-20 09:56] jcoupey commented on #284
No, there is no storage or caching involved when you invoke `vroom` from command-line. What happens is:
- parsing the problem from standard input or a file (using `-i`)
- computing a solution
- outputting the solution to standard output or a file (using `-o`)

While solving, RAM consumption will be dominated by holding the travel time matrix in memory so is expected to be O(number of locations).

[2019-12-20 10:00] jcoupey commented on #284
For the sake of completeness, we have a script that allows to sort of cache the OSRM travel time matrix and embed it in the input file, see [this wiki page](https://github.com/VROOM-Project/vroom/wiki/Standalone-problem-instance)

[2019-12-20 13:10] ivosabev commented on #283
Thanks for the suggestions. Maybe capacity is the best alternative, unless you plan to have a flag in the future that requires the algorithm to utilize all vehicles.

[2019-12-20 13:10] #283 closed

[2019-12-23 15:10] metehan opened #285 "Delivery jobs based on inventory"
I am wondering is it possible to solve routing problem vehicles according to inventory in the car.

Lets say one car has 5 bricks 3 sticks and the other car has 3 sticks 5 bricks. And there is a pickup location to take bricks and sticks. When customers orders sticks and bricks I need to plan the routing.

In the API documentation I saw "pick-up" and "delivery" sections but it's not very clear how

[2019-12-23 19:56] stefanocudini commented on #284
I am comparing different routing engines and cataloging their generic characteristics
so I seem to understand that a possible cache can be integrated outside the routing engine.

thank you this is very interesting

[2019-12-23 19:56] #284 closed

[2019-12-23 20:37] jcoupey commented on #285
I think what you're looking for lies in a [comment on capacity restrictions](https://github.com/VROOM-Project/vroom/blob/master/docs/API.md#capacity-restrictions). This is neither very explicit nor illustrated with an example.

The API uses arrays to describe amounts in order to provide flexibility in modelling: each component of the array matches one metric you want to take into account and you c

[2019-12-25 12:02] metehan commented on #285
Thank you very much. It's clear now when I finish my code I would like to contribute to the documentation.

[2019-12-25 12:03] #285 closed

[2020-01-07 10:45] jcoupey opened #286 "Incorrect early abort in intra Or-opt"
During the local search, the Or-opt operator tries to move an edge (two consecutive jobs) around. A way to limit the number of validity and gain checks during exploration is to stop if the gain associated with simply removing the edge is less than the current best known gain. This check is correctly performed [for the regular Or-opt](https://github.com/VROOM-Project/vroom/blob/2b0d14ea5256bd2e24af

[2020-01-14 11:10] romainrey opened #287 "Pre-planned jobs"
Hi,

I would need to use vroom to optimize several vehicles which have to do some jobs, but I already know that some given vehicules have to do some given jobs. These ones are 'already' planned and I need vroom to only complete the planning.

For example you have to visit different cities but you know that you have to go to city X, and this is non-negociable.

How to force this? I tried priority b

[2020-01-14 15:32] jcoupey commented on #287
Looks like you need a combination of two things.

1. Making sure a job is performed by a given vehicle: for this you need to assign this job a specific `skill` that only the matching vehicle has.

2. Trying to force all "already planned" jobs to be included in the solution: set high priority to those jobs and low priority to all other non-mandatory jobs.

Note that the later cannot guarantee that

[2020-01-14 15:33] jcoupey commented on #287
@romainrey out of curiosity, can you expand a bit on the context and what you're trying to achieve?

[2020-01-14 16:38] romainrey commented on #287
Thanks for the quick answer,

Indeed the strategy you detailed is exactly the one I followed. I set up unique matching by skill to ensure only the good car can do the job and I set priority 10 and 0 to push it to go to these jobs.

Unfortunatly this is not enough to make it work...

For context:
I have some technicians who need to repair some shops. Some jobs are urgent repairs and are mandatory,

[2020-01-14 16:46] jcoupey commented on #287
Can you please be a bit more verbose on what does "not work"? I think I get what you expect but I'm not sure what is actually different in the solutions you get? Maybe provide a simple example if you can?

[2020-01-14 16:58] romainrey commented on #287
Sorry for the lack of details, here a more complete answer:

Let's look at the example below,
We have 1 vehicle, 3 jobs with high priority and around 20 with low priority, and a time window constrain (in fact only saying a 12h day maximum)

and the final solution gives me:
Job: 11, 8, 19, 3, 21

whereas jobs 1, 2, 3 were 'mandatory'

(All locations are in France)
{"vehicles":[{"id":1,"start":[0.54

[2020-01-14 17:19] jcoupey commented on #287
I'm getting the expected result when running your input against my local OSRM instance with France data.

[code]

I see two potential causes.

1. You're running an outdated version of `vroom` prior to the introduction of priority constraints. What version are you using?
2. The travel time matrix used on your side is significantly different from mine. Are you using OSRM? In that case and in order t

[2020-01-14 18:20] jcoupey opened #288 "Route exchange operator"
While working with shipments on #274, I came across a situation where a whole route in the solution could be performed in the same order and at a cheaper cost by another vehicle. Yet the atomic moves available during local search are unable to reach this transformation.

This can only happen in a situation with heterogeneous fleet (think many different start and end points) and in the above case i

[2020-01-14 22:47] romainrey commented on #287
Hi,

This is encouraging,

I didn't have the time to to the standalone version as suggest, I'll do it asap.
Meanwhile, running 'vroom -h' I got 'Version 1.5.0-dev'.
The option 1. (wrong version) kind of makes sense to me in the way that if we look at the optimization, it really looks like it gives no importance to the priority parameter and just try to optimize the distance/time. As you can see on

[2020-01-14 22:54] romainrey commented on #287
By running the process on your link I got the following json [file](https://drive.google.com/file/d/13r4YIMdDk9qSbq5wMgoItg34A6DyWTvY/view?usp=sharing)
The optimisation based from it does not change anything for me

[2020-01-15 09:52] jcoupey commented on #287
I can confirm I'm getting the expected behaviour with your standalone input file and a recent version. You need to checkout tag `v1.5.0` and rebuild `vroom`.

The priority key has been introduced in the last `v1.5.0` release, see [the changelog](https://github.com/VROOM-Project/vroom/blob/master/CHANGELOG.md#v150---2019-10-14). On the other hand `1.5.0-dev` means "the development version prior to

[2020-01-15 21:12] romainrey commented on #287
I installed the new version this morning and I confirm that it is indeed working way better.
I managed to get the json example solved correctly. Thanks for spotting this!

I tested it on some real case scenario that I have with a lot more jobs and vehicles. The solution works well in 90% of the case by giving to people the mandatory jobs they are qualified to do.
I also noticied that reducing the

[2020-01-16 11:41] jcoupey commented on #287
I get it that it's tempting to try forcing the weight this way, and in term of pure modelling it makes sense. However I wouldn't recommend doing this for two reasons:

1. That would be adding an unnecessary complication to the way solutions are evaluated, and besides this is already what priorities do, because during the local search solutions are compared first [based on priority sum](https://git

[2020-01-16 11:51] jcoupey commented on #287
@romainrey to make sure I get it right, can you confirm this is what's happening in the 10% of cases you mention, that is:

- you only have priority 0 or 10 respectively for optional and mandatory jobs
- some mandatory jobs show up as unassigned in the solution and *it's not related to another constraint*
- in particular, solving the same problem with only mandatory jobs result in a solution with

[2020-01-17 09:44] romainrey commented on #287
All right I get it, it makes more sense now, thanks for the explanation. It was indeed risky to try that without knowing the underlying optimizations you were doing.

Sorry I forgot to mention a crucial information: I was simplifying the problem in this thread with only priorities 0 and 10 because the simple example wasn't working for me. But now that the simple example is working (thanks to versi

[2020-01-17 15:32] jcoupey commented on #287
I'm not sure changing the priority scale would fundamentally make things different, other than by providing a little more granularity.  If you want to give it a try, you only have to adjust [this check](https://github.com/VROOM-Project/vroom/blob/2b0d14ea5256bd2e24af27fe5960382efaa79f1c/src/utils/input_parser.cpp#L137). A priority is just a 32-bit unsigned integer so you just want to be careful th

[2020-01-18 15:10] romainrey commented on #287
Thanks will try this! I will keep you updated

Let's recap:
- I have some maintenance that I can choose when I want to do them, and they have priorities depending on their contract date limit. So let's say that they can have priority 1 to 5.
- I also have some mandatory urgent fixes to do, for which I don't have the choice to do them. I need to do them. I want to give them the highest priority.

B

[2020-01-19 15:08] jcoupey commented on #287
Yes, the 0-10 priority scale woks well in most cases with just a few priority classes but it may indeed be too restrictive if you want to have 5 levels of optional jobs.

Happy to have feedback on your tests and findings!

[2020-01-20 13:14] frinux opened #289 "Support OSRM routing through HTTPS"
Actually, it is not possible to use OSRM routing through HTTPS:

https://github.com/VROOM-Project/vroom/blob/2b0d14ea5256bd2e24af27fe5960382efaa79f1c/src/routing/http_wrapper.cpp#L34-L36

Error returned is: "Failed to connect to https://my_osrm_host:443"

Thanks for evaluating this feature request

[2020-01-20 13:55] jcoupey commented on #289
Yes, the current `boost::asio` code used under the hood only supports http requests, which works fine for a local (or remote) plain osrm-routed server. But that would be useful for users that already have their own OSRM server available through https. @nilsnolde probably relevant for Openrouteservice too?

Also actually a prerequisite for #219.

[2020-01-20 14:55] jcoupey commented on #289
I just took a quick look at the SSL support in `boost::asio` and applying the following patch seems to do the job.

<details>
  <summary>See patch</summary>

[code]

</details>

Previously valid http requests does not work any more with this but at least it allows to test a remote server with https using:

[code]

This can serve as a basis for implementation. Maybe we need a command-line flag to d

[2020-01-20 15:22] frinux commented on #289
Maybe is it more flexible if it is detected at runtime (by detecting 443 standard port) without command-line flag?

[2020-01-21 02:49] romainrey commented on #287
After testing on several examples, changing the priority to 100 for mandatory and keeping low values (usually <10) for the other worked well for me. I don't have any problem anymore on this! Thanks a lot for the help all along
Maybe in future version the max priority could be a parameter?

An other question: today the major part of my time is taking by the loading phase and not the solving phase (

[2020-01-21 11:32] jcoupey commented on #289
Yes, good idea. Would only leave out use-cases with https on a non-standard port, but we can probably live with that.

[2020-01-21 11:36] jcoupey commented on #287
@romainrey adding yet another parameter is not ideal and anyway I think it's clearer for everyone to have a fixed range for priority values. Based on the way it's been implemented, the scale itself does not really matter as long as it allows to use enough priority "classes". So in the light of your feedback I'm in favour of your previous suggestion to raise the max value to 100. Besides, as you me

[2020-01-21 11:42] jcoupey commented on #287
Are you referring to the `summary.computing_times` value in the response? The loading part there is parsing the input file (that's usually very fast thanks to rapidjson), then mostly computing the matrix, plus a couple pre-computations.

A loading time of 13s seems indeed very high, especially because the solving time suggest you have a small problem. Can you provide more context on your setup:

-

[2020-01-21 14:19] romainrey commented on #287
Great news for the official increase of priority!

About my problem complexity I have:
600 jobs
15 vehicles
30-80 jobs possible per vehicles (indeed each vehicle will not browse all possible jobs thanks to skills)
And I am using a local osrm setup (using osrm backend on docker)
If you want to try on yours, I can send you a private json by mail :)

[2020-01-21 15:32] jcoupey commented on #287
@romainrey first check the time it takes for your local OSRM instance to complete a `table` request with ~600 locations to confirm this is the bottleneck. Then make sure you use the [CH pipeline](https://github.com/Project-OSRM/osrm-backend/wiki/Running-OSRM#quickstart) (rather than MLD) for faster requests. Any other troubleshooting with OSRM and/or Docker is out of the VROOM scope.

Another opti

[2020-01-24 23:32] romainrey commented on #287
Sorry for getting back late on this,

I checked and this was indeed the bottleneck.
I am now using the CH pipeline, I improved from 13s to about 3-4s, so that's a very satisfying improvement!

I didn't try the other improvement as I am not sure I want to overload the RAM with it
But we are reaching times which are acceptable to wait for a web app as it is a computation that is manually launched an

[2020-01-24 23:32] #287 closed

[2020-01-28 09:32] senhalil opened #291 "VRP with a single location"
The following VRP problem with a single location (note that all location indices are 0) but with a 2x2 matrix returns the expected solution with zero cost.

However, if the matrix is replaced by a 1x1 matrix, then vroom tries to connect to OSRM and fail with the following error `{"code":3,"error":"Failed to connect to 0.0.0.0:5000"}` (since there is no lat/lon, even if the connection succeeds, the

[2020-01-28 09:47] senhalil commented on #291
I went ahead and opened a pull-request just in case.

[2020-01-28 17:39] jcoupey commented on #291
Kind of an edge case, but definitely a bug. The `_matrix.size() < 2` check is a poor man's way to test if a custom matrix has been provided in input. It may have been OK back in the days (with TSP-only code) because we probably had other ways to enforce having several locations.

A clean fix would be to add a boolean member along the line of `_has_custom_matrix` and use it as a flag for the above

[2020-01-29 08:39] senhalil commented on #291
I see the fix you suggested. I will modify the pull request accordingly.

[2020-01-29 11:35] jcoupey opened #293 "Short-circuit evaluation in validity checks"
In numerous situations, deciding if a local search move is valid is the result of calling several functions in a row to check validity with regard to skills, capacity, time windows etc.

The current code-base usually uses something along the lines of:

[code]

This code does generate unnecessary checks because `another_check` [it still called](https://www.fluentcpp.com/2020/01/28/how-to-short-circ

[2020-01-29 13:21] jcoupey commented on #293
From the tests I've been running based on #294, reduction in total solving time is somewhere around 5%, depending on problem type, number of threads and exploration level.

[2020-02-03 14:09] jcoupey opened #295 "OSRM table error with single-location instance"
This is an edge case somehow similar to #291. When solving a single-location instance (same location for vehicle and job) such as:

[code]

then the OSRM `table` request contains only one location (input locations are deduplicated). Instead of the expected trivial one-step route, we get an error:

[code]

[2020-02-03 14:47] #286 closed

[2020-02-03 14:49] jcoupey commented on #189
Support for pickup and delivery scenario landed in `master` with #274. Feedback welcome, use new `shipments` array to add P&D with same-route precedence constraint.

[2020-02-03 14:49] #189 closed

[2020-02-03 15:15] mhosman commented on #189
Great!!! We'll check the new functionality!!

[2020-02-04 09:35] #289 closed

[2020-02-04 09:35] #293 closed

[2020-02-04 09:43] jcoupey commented on #291
Hi @senhalil what's your schedule on this?

Just asking because I'd like to include this fix in the next release candidate, hopefully in the next few days (also #295 would benefit from having a flag member to know whether a custom matrix has been provided).

[2020-02-04 10:04] senhalil commented on #291
Sorry for the radio silence. I'll look into it now.

[2020-02-04 10:06] krypt-n opened #297 "Compilation of http_wrapper fails with boost >= 1.66.0"
Hi,

I just tried to compile the current master branch on my system and it appears that `routing/http_wrapper.cpp` doesn't compile with boost 1.66.0 or newer, since [this](https://github.com/VROOM-Project/vroom/blob/ebda715a30b4526275d1c634b415b6ada51e923a/src/routing/http_wrapper.cpp#L78) deprecated constructor was removed. (Compare docs for [1.65](https://www.boost.org/doc/libs/1_65_0/doc/html/b

[2020-02-04 11:02] jcoupey commented on #297
Thanks for this quick feedback. I've indeed only tested this with boost 1.65.

[2020-02-04 11:08] senhalil commented on #291
Ready for review.

[2020-02-04 15:20] jcoupey commented on #291
Thanks!

[2020-02-04 15:22] #291 closed

[2020-02-04 15:22] senhalil commented on #291
Happy to help!

[2020-02-04 15:50] #295 closed

[2020-02-04 18:28] AwesomeIbex commented on #42
I struggled a little bit trying to get libvroom to run with Rust, gave up and did a shell command.

Did the same thing in Kotlin too as it was difficult/not enough time to build JNI bindings for it

That said, it would be mega useful if it was easier to utilise rather than the above methods as command is expensive in the JVM

[2020-02-04 18:30] AwesomeIbex commented on #227
:+1: similar use case (EV)

[2020-02-05 08:48] jcoupey commented on #42
@AwesomeIbex not sure exactly what you're trying to achieve here as the purpose of libvroom is to call the native functions from C++.

If you're interested in using it from your C++ code, then you'll find an example on [how to link the library](https://github.com/VROOM-Project/vroom/blob/8198a225bd935a0e141ac8be847ae46ebd1c4645/libvroom_examples/makefile#L3) and how to [setup and solve a problem](

[2020-02-05 15:47] jcoupey commented on #297
OK, it seems that the first argument is just not used at all any more.

@krypt-n I don't have a 1.66 boost install out of the box, would you mind checking if this patch solves the compilation problem on 1.66?

[code]

[2020-02-06 08:16] krypt-n commented on #297
Yep, it solves the problem for boost 1.72.0 (and I assume everything in between)

[2020-02-06 08:34] #297 closed

[2020-02-06 08:34] jcoupey commented on #297
@krypt-n thanks for the handcrafted CI builds! ;-)

[2020-02-06 16:07] #281 closed

[2020-02-06 16:24] jcoupey commented on #281
Quick feedback on the couple tests I've been running.

1. Pushing incompatibilities to the extreme: each vehicle has it's own job set and they're disjoints so no move between two different routes is ever valid. I noticed a ~10x computing time speedup.

2. With a more "reasonable" setting (vehicles are restricted to a subset of 40% of all jobs which overlap between vehicles), I noticed a ~3.5x comp

[2020-02-06 16:27] jcoupey commented on #139
It does not make much sense to keep this ticket open after #267.

[2020-02-06 16:27] #139 closed

[2020-02-10 09:24] #288 closed

[2020-02-10 09:50] jcoupey opened #301 "Travis script update"
The Travis script needs an update to remove a couple of TODOs.

Some of the CI builds triggered by merge commits on `master` or push on PR branch seem to stop early due to [this check](https://github.com/VROOM-Project/vroom/blob/0f20a6b364acbe967da8fa6e9b11bad3828518a3/.travis.yml#L71-L74). It's supposed to not run build at all if no source file has been modified, but for some reason it calls `tra

[2020-02-10 10:09] jcoupey commented on #301
Also sometimes running `make` fails in the Travis script but the build is OK because [this line](https://github.com/VROOM-Project/vroom/blob/0f20a6b364acbe967da8fa6e9b11bad3828518a3/.travis.yml#L78) runs `travis_terminate 0`.

[2020-02-10 10:55] #301 closed

[2020-02-10 11:44] jcoupey commented on #123
Now that #193 proved unsuccessful, I don't think there is much interest in digging this further. Also as new features are added to the project, the TSP actually becomes kind of a corner-case now.

[2020-02-10 11:44] #123 closed

[2020-02-10 11:44] jcoupey commented on #117
Closing as stale, see also https://github.com/VROOM-Project/vroom/issues/123#issuecomment-584084095.

[2020-02-10 11:44] #117 closed

[2020-02-10 11:45] jcoupey commented on #185
Closing as stale. @hyzajabada @Eichenherz feel free to re-open if required.

[2020-02-10 11:45] #185 closed

[2020-02-10 11:50] #270 closed

[2020-02-10 11:53] #243 closed

[2020-02-26 10:43] MikeDabrowski opened #304 "Dynamic point visit-ability condition"
In my routing problem I have two groups of points (say 1-4 and A-F) where points 1-4 require certain number of points A-F visited first. I discovered VROOM via OpenRouterService API and I see that they are using older version (with `amount` and without `shipment`). If newer VROOM version is required then I think I'll be able to build from source and use it feeding it a custom matrix obtained from

[2020-02-26 11:40] jwld opened #305 "What's the recommended solution for updating routes that are already in progress?"
I'll try and describe our use case as clearly as possible:
- We often want to add new jobs to existing routes - so for example we might want to add a new job in a route with 30 jobs, where 10 have already be completed - we essentially just need to re-route from step 11 onwards
- Our current plan is just to create a new route using the non-completed jobs only (so from step 11 onwards) and stitch th

[2020-02-26 12:51] nilsnolde opened #306 "Add Valhalla as routing provider"
I think Valhalla, despite its relatively poor performance compared to ORS/OSRM, would be a nice addition to Vroom's routing providers. It's really unique in terms of run-time weights & costs, no other router can match that, except for BRouter. Anyways, with Mapbox ending OSRM support in a few weeks time and fully concentrating on Valhalla, it might also be a step towards future.

Of course it's po

[2020-02-28 17:44] mhosman commented on #189
Hey @jcoupey we are trying v1.6. The only way to make multiple pickups/deliveries as a "unique job" in sequence is to assign priorities? Another question... With the new "shipments" array, a job is not the same thing as opening a shipment with only a delivery (not pickup)? Maybe that's a good way of simplify the library.

[2020-02-29 18:03] mhosman commented on #189
Hey @jcoupey, we tested v1.6 and we have some questions:

I don't know if this is an error or not but if I create two jobs with two vehicles I get one job per vehicle. If I create two shipments with two vehicles, both shipments are assigned to only one vehicle (2 pickups and 2 deliveries). This is okay?

If shipments are like jobs but the only difference is that the pickup must be done before a de

[2020-03-02 09:16] jcoupey commented on #304
Skills are a **static** description of compatibility between vehicles and jobs. "Dynamically increasing" the skills along a route is not something we can easily do because the solving process involves much more than increasing a route by sequentially adding points at the end.

Not sure a `shipment` would be what you need as you'd have to specify a single pickup point, not a range of options.

I'm

[2020-03-02 09:30] MikeDabrowski commented on #304
The gist is what I wrote in first sentence of my original post. But maybe I'll rephrase it a bit.
I got few types of points:

* start
* finish
* regular points A-F
* special points 1-4

Start and finish are like a boundary conditions - vehicle just need to be there on start and finish of the task, and those may be one or two different locations (I don't know for sure at this point)
Special points

[2020-03-02 09:36] jcoupey commented on #305
This is what I would have advised. If the 10 first jobs are already completed, they're not really a part of the "new" optimization problem with added jobs. Hopefully our very fast computing times allow for such a dynamic use of the API.

Now on stitching the routes:

- If you're using `duration` and `distance` keys for steps, those are cumulated values so there would be no problem to stitch both s

[2020-03-02 10:04] jcoupey commented on #306
Adding support for another open-source routing engine can only make the project useful for more people so I'd be more than happy if you could contribute a wrapper for Valhalla.

Of course the impact on solving times would be significant as they would probably be mostly dominated by matrix computing times. But this is basically the same choice people are facing when picking a routing engine dependi

[2020-03-02 10:17] jwld commented on #305
Ok great thanks, I think we'll have a go at that. If it's too problematic I think we might optimize the remaining jobs using vroom and then run the full route through osrm's `route` service to get the overall distance / duration / geometry.

[2020-03-02 10:17] #305 closed

[2020-03-02 10:58] jcoupey commented on #304
Thanks for your feedback. I still don't really get **why** those constraints apply to your use-case, but the short answer is that there is currently no way to handle this kind of specific situation.

There are a couple hacks you may want to try, e.g. delaying "special points" availability to leave room for regular points at the beginning of the routes. But nothing fully satisfactory I'm afraid.

[2020-03-02 11:00] jcoupey commented on #305
Happy to have some feedback on how it turns out whenever you can!

[2020-03-02 11:02] MikeDabrowski commented on #304
Thanks, I was afraid so. And those requirements are set because its a task of optimization of a kind of adventure game. That may not translate into real-world scenario of pickup/delivery. Thank you for your  input anyway :)

[2020-03-02 11:02] #304 closed

[2020-03-02 11:15] jcoupey commented on #189
The way jobs/shipments are grouped (or not) in routes is probably a result of the constraints you're setting so you're the one who can tell if it's ok. ;-)

We can't really spare having two kind of objects here. Shipments describe the need to move something around from one place to another. Jobs describe actions that happens at some place: either a delivery from something loaded at the route start

[2020-03-03 13:07] nilsnolde opened #307 "Add Dockerfile"
I'd like to PR a Dockerfile. It's fairly useless for `vroom` itself, however, if this acts as a base image for another `vroom-express` docker image, it would be very interesting. I think it's lowering generally the barrier to just give it a quick spin. For ORS we're also using Docker to deploy vroom in production actually. So both `vroom` & `vroom-express` run on the same server, which is fine for

[2020-03-03 17:12] jcoupey commented on #307
Hi @nilsnolde, thanks for the input! I don't really use docker myself but I can see how many people would find it easier to go through docker to deploy the stack.

Before diving into the technical details you raise in #308, I'll start here with a few general questions:

1. How different would this be from, say https://github.com/iedmrc/vroom-docker?
2. Once the image creation process is setup, wha

[2020-03-04 01:25] nilsnolde commented on #307
Hi @jcoupey ,

1. There's a lot of advantages of having the Dockerfile(s) in the source repo(s) itself:
- it's not a monolith like the Dockerfile you pointed to, i.e. `vroom` would be its own image, which `vroom-express` can build on and one can drag in any router one wants (and is supported) via `docker-compose`
- it's super flexible when it comes to releases, i.e. each release would automaticall

[2020-03-04 10:04] jcoupey commented on #307
Thanks for your answers, let's go on with this.

[2020-03-04 16:53] darkranjha opened #309 "Real-time traffic data for timed windows"
Hi Vroom Team,

Love the solution that you have in place for route optimization. I have a project that I am working on, where the problem may have 50+ stops, and there are service level agreements for some stops that have to be considered higher priority. For example one stop, may have a delivery window of 1 hour so it needs to be prioritized over other routes. I see the time window that I can lev

[2020-03-04 17:48] jcoupey commented on #309
No, the travel time estimates we use throughout the whole optimization phase are constant. Those travel times are retrieved in the form of a matrix from a single call to a routing engine, prior to optimization.

For several reasons, taking into account real-time traffic data to compute matrices **at scale** is already a though problem on the routing side. The first blocker for most people being ac

[2020-03-04 21:10] darkranjha commented on #309
Thanks for the prompt response and explanation Julian.

[2020-03-04 21:10] #309 closed

[2020-03-08 09:57] dooley opened #310 "Question: Parameter for ORS"
Is it possible to add additional parameter to VROOM's input, when using ORS as routing backend? If yes, can someone please provide a example?

For example if i would optimize hgv with dynamic restrictions like maxweight and maxheight, i must set options.profile_params.restrictions:

`{
  "preference": "fastest",
  "instructions": true,
  "geometry": true,
  "units": "m",
  "attributes": [
    "det

[2020-03-08 10:52] nilsnolde commented on #310
No that's not possible. ORS can't respect any restrictions for matrix requests. Not yet anyways, we're working towards it.

However, you CAN do it with Valhalla (and only with Valhalla of all FOSS routers) and vroom's custom matrix capabilities. You could also sponsor #306, then it'd be possible natively.

[2020-03-08 11:41] dooley commented on #310
Too bad ORS don't support that. Valhalla is to slow. I use OSRM with VROOM for car and foot and in progress to extend the services to hgv. So i'm stuck with OSRM and 3 different fixed hvg-profiles :-(

Anyway, thanks for clarification.

[2020-03-08 11:41] #310 closed

[2020-03-11 23:56] mhosman commented on #307
A great type of Docker image could be:

VROOM + VROOM Express + OSRM in the same image (Let's say an Ubuntu minimal), and the availability to automatically start the services every time the server starts/restarts, and only expose port 3000 (just to access VROOM Express).

[2020-03-12 00:01] nilsnolde commented on #307
It's almost done:) https://github.com/VROOM-Project/vroom-docker. Don't use it yet, but that's the direction we're going.

We're intentionally not providing a routing engine in the same image. It's a pain to properly version stuff like that. That's what `compose` is for IMHO. I added ORS in the `docker-compose.yml` and gladly accept a contribution for OSRM:

https://github.com/VROOM-Project/vroom-

[2020-03-12 08:53] jcoupey commented on #307
Closing as the action is now happening in the [vroom-docker](https://github.com/VROOM-Project/vroom-docker) repo.

[2020-03-12 08:53] #307 closed

[2020-03-12 09:06] jcoupey opened #311 "Switch to C++17"
Upgrading to C++17 would probably not be a huge change for the codebase. The only drawback I can see would be to drop support for some of the older compilers but we can definitely live with that.

On the other hand, some of the new language features like [`std::optional`](https://en.cppreference.com/w/cpp/utility/optional) could help us reduce dependencies requirements. The impact on building Dock

[2020-03-12 09:10] jcoupey opened #312 "Use std::optional"
When #311 happens, we'll be able to replace `boost::optional` with `std::optional`, thus dropping a dependency.

Probably useful for https://github.com/VROOM-Project/vroom-docker/issues/3 and https://github.com/VROOM-Project/vroom-docker/pull/4

[2020-03-15 23:05] mhosman opened #313 "Question about multiple pickups + 1 delivery"
How can I achieve this? I need to make let's say 10 pickups and drop all those things in one delivery location so that needs to be the last point in the node. Today an easy way is to give priorities but how about if I have other multiple jobs and pickups/deliveries in the same request?

[2020-03-16 09:14] jcoupey commented on #313
The [`shipment`](https://github.com/VROOM-Project/vroom/blob/master/docs/API.md#shipments) object models the need to move something from one place to another. In your case, you want to move 10 things to the same delivery location, so the expected way to model this is to create 10 shipments with the same delivery coordinates.

As a result, same-location deliveries in the solution will show up as di

[2020-03-16 14:09] mhosman commented on #313
Hey @jcoupey thanks for your answer. I tested for example this situation:

[code]

- One vehicle
- Three Pickup & Deliveries sharing the same delivery location with the same ID (also tested with different ID's).

Result:

- Same-location deliveries are in different route steps with "different arrivals"??

[code]

Maybe a solution is a way to create a shipment with multiple pickups and one delivery

[2020-03-16 14:51] jcoupey commented on #313
In your solution, all `duration` keys are set to `0`, which means that all [cumulated travel times](https://github.com/VROOM-Project/vroom/blob/master/docs/API.md#steps) along the route are `0`. So it looks like the travel time matrix used for optimization is filled with zeros, an then all solutions are equivalent and cost `0`...

This is likely related to the routing layer, e.g. using OSRM with a

[2020-03-16 14:57] mhosman commented on #313
Ok thanks @jcoupey I'lll check into this. Best regards!!!

[2020-03-16 14:57] #313 closed

[2020-03-18 11:02] jwld opened #314 "Error when running make on v1.6.0"
Seeing this when running `make`. `v.1.5.0` works fine, but seeing this error with `v1.6.0`:

[code]

[2020-03-18 11:39] jcoupey commented on #314
The `openssl/conf.h` header have been added as a requirement in `v1.6.0` for https://github.com/VROOM-Project/vroom/issues/289. Those headers are missing on your system.

If you're under debian/Ubuntu, it should be enough to simply `apt install libssl-dev`.

Please report on this so we can update the wiki instructions.

[2020-03-19 08:24] akasparas opened #315 "Question: Custom Capacity Calculation"
One of my customers often transports some pallets on the second and even third "layer". Usually loads on different layers goes to different destinations. I cannot think of good limit schema with current quantity/capacity calculation method. If I'm strict on number of pallets, then second and third layers are not possible and plan becomes far from optimal. If I calculate by volume, then I risk to b

[2020-03-19 11:44] jcoupey commented on #315
You could try using height as an additional `capacity` component, with each pallet holding a percentage of the total available height.

If you have additional constraints related to loading that deeply affect capacity constraints, I'm afraid you're scratching the surface of [VRLP](https://scholar.google.com/scholar?hl=en&as_sdt=0%2C5&q=vehicle+routing+and+loading+problem&btnG=) (vehicle routing an

[2020-03-19 13:34] akasparas commented on #315
I'm sorry, I don't get how this could work. Suppose, you have truck 200cm high with 3 places for pallets. That's 600 limit. And you have 5 pallets 110cm high each. Sum of quantity = 550 < 600, but physically you can fit only 3 of them. Specifying capacities for every place separately require one to know where he will put pallet first; but then he has to have solution for this problem already.

Tha

[2020-03-19 21:35] jcoupey commented on #315
Your A/B description sounds like what you'd do to decide upon *adding* some new stuff to an existing route. This would basically cover what's happening during the heuristic phase where we build initial solutions by incrementally adding jobs.

But during the local search phase, we try applying a range of operators that match many more different situations. See [operators applied for VRPTW](https://

[2020-03-23 08:06] akasparas commented on #315
Thank you, @jcoupey , for showing where dragons roost. This is exactly what this question was about.

As I cannot afford to give solution which does not fit trailer, I see two options:
a) start with some safety factor, get result, check correctness and rerun with bigger factor if results are wrong; I probably will need to do reruns anyway for #188 and to use cheaper trucks (can't find issue number

[2020-03-23 08:51] jcoupey commented on #188
Update: the expected behaviour of getting back to the depot to fill a vehicle, then go back for deliveries can now be achieved using `shipment` objects.

Instead of defining deliveries as a `job` object, define it as a `shipment` whose `pickup` place is the depot. Then we'll be able to output routes that start with a number of pickups (depending on vehicle capacity), then do the associated deliver

[2020-03-23 08:51] jcoupey commented on #188
Closing as this is now possible. Please open a new dedicated ticket for any trouble using the above approach.

[2020-03-23 08:51] #188 closed

[2020-03-23 08:53] jcoupey commented on #315
So closing here. FWIW, I've updated https://github.com/VROOM-Project/vroom/issues/188#issuecomment-602462376 with a modelling advice.

[2020-03-23 08:53] #315 closed

[2020-03-26 08:17] jcoupey commented on #314
Hi @jwld any update on this?

[2020-03-26 09:41] jwld commented on #314
Hi, sorry I was in a rush so just rolled back to 1.5 and this totally slipped my mind. I haven't tried it on our ubuntu server yet - first I'm trying to get it set up locally, which is in OS Catalina.

I've installed `openssl` using homebrew, and after installation it spits out the following warnings:
[code]

I've added those 3 lines to my `bash_profile` but I'm still getting the above error. This

[2020-03-26 10:03] bonanhel opened #316 "Using vroom to calculate distance matrix with multiple vehicle jons"
Hello all!
Well, this is not an issue post, just trying to figure out if this can be done using vroom API.

Currently I am using OSRM's matrix to calculate from point to point distances for multiple vehicles.

For example I have an array with cars and from-to points
A specific point {x,y} from each car in array like :
1,{x,y}
2,{x,y}
3,{x,y}
etc..

Now I need a way to calculate distances using a s

[2020-03-26 11:13] jcoupey commented on #316
It looks like you don't need VROOM at all if all you want to achieve is get distances from/to various points. The OSRM [`table` service ](https://github.com/Project-OSRM/osrm-backend/blob/master/docs/http.md#table-service) handles that, maybe you need to dig the `sources` and `destinations` options to adjust from/to locations.

[2020-03-26 11:19] jcoupey commented on #314
Thanks for your feedback, it confirms that a proper `openssl` install should fix it, I'll update the wiki accordingly.

If the lib paths are not properly set on your system, you may have more luck adding the suggested `-L` and `-I` options directly [in the makefile](https://github.com/VROOM-Project/vroom/blob/02126a885994e859bfeaf959d263933000850160/src/makefile#L8-L9).

[2020-03-26 11:40] bonanhel commented on #316
@jcoupey  Thanks for your reply!
I'm trying to avoid multiple server requests.

What I am trying to do...
I have a taxi dispatch system. I'm trying to find the nearest taxi from the client. Some vehicles are free, so I need to calculate distance from the client, some others are busy with known destination, so for this vehicles I need to calculate distance from there location to destination locatio

[2020-03-26 11:45] jcoupey commented on #316
If you want to work directly with distances, just put all your "from" and "to" locations in a single OSRM `table` request, maybe using `sources` and `destinations` parameters if you want to filter some unwanted values.

Closing as this is an OSRM-related question.

[2020-03-26 11:45] #316 closed

[2020-03-26 11:52] bonanhel commented on #316
Well, there wasn't a OSRM related question :)
I will try to play with vroom shipments and  skills for filters. It seems that will do the job..

Thanks again for your time!

Regards,
Vangelis

[2020-03-26 12:45] jcoupey commented on #316
If you describe your problem using the `vroom` API, then all required OSRM calls (`table` and `route` requests) will be handled internally for you so you don't have to care about this.

[2020-03-26 14:47] jwld commented on #314
Thanks, I will try that in due course!

[2020-03-26 14:47] #314 closed

[2020-03-26 16:30] stefanocudini commented on #310
hi i am using vroom and as ORS backend ..
I understand that vroom only uses the api matrix from ORS.

in my use case I don't need to be dynamic for every requests, because the profile of the vehicle I use is always the same.

I would like for example some predefined preference values, for example:
preference = 'shortest' instead 'fastest',
and some of these
restrictions = width = 3m, height = 2m,

[2020-03-26 16:40] nilsnolde commented on #310
Well, vroom uses the Matrix service, where all of these settings are not applicable. Matrix is pretty much the opposite of dynamic for the time being...

If you really want restrictions, you'll need to request `/directions` requests, one-by-one, for all possible combinations of vehicles an locations, i.e. re-create a matrix request, and post a custom matrix to vroom, without choosing a routing pro

[2020-03-26 16:55] stefanocudini commented on #310
hi @nilsnolde  tnks for your suggestions!

mmh interesting considerations..

In my use case of vroom I have only the capacity of vehicles and the amounts of jobs, without  timing limits.. or time windows..

I was thinking that as a good temporary solution if I calculate the order of execution of jobs with vroom and then pass the vroom output coordinates(in the same order) to a normal ors direction

[2020-03-26 17:02] stefanocudini commented on #310
my outputs is this..
![vroom](https://user-images.githubusercontent.com/47107/77674424-de5d1180-6f8b-11ea-8dab-b23de7203bcf.png)

[2020-03-26 17:20] jcoupey commented on #310
Not exactly, we fire a matrix request prior to optimization, but if you use the `-g` flag then we'll send one route request per vehicle to add extra information for all routes (distances and geometry).

That's pretty much what `-g` does for you, using [those parameters](https://github.com/VROOM-Project/vroom/blob/02126a885994e859bfeaf959d263933000850160/src/routing/ors_wrapper.cpp#L117-L118).

Whe

[2020-03-26 17:35] stefanocudini commented on #310
hi @jcoupey VROOM is really powerful for my use case, great job!

I'm using VROOM with my own instance of OpenRouteService and I talk it through ORS python bindings.
[code]
can I use the G flag you are talking about attracting bindings?
My VROOM config is here:
https://github.com/DigitalCommonsLab/docker-ors-vroom/blob/master/vroom/config.js
can I add ors parameters in this config file?  what form

[2020-03-26 18:11] jcoupey commented on #310
From your `vroom-express` config [here](https://github.com/DigitalCommonsLab/docker-ors-vroom/blob/539a3d70975d8b0207a768547bb635344cb5b084/vroom/config.js#L20), it looks like you already do. An easy check would be to run a sample query and see if you have a `distance` key in the `summary` object in output.

You could use the same steps as in my previous message, but replace the third point by pas

[2020-03-26 18:27] nilsnolde commented on #310
@stefanocudini

You already do, `geometry=True` does exactly that, as defined [here](https://openrouteservice-py.readthedocs.io/en/latest/openrouteservice.html#openrouteservice.optimization.optimization).

No, not possible. As I said in the first comment, you can't use parameters with the matrix API! What @jcoupey suggests (to create a separate profile & graph hard-coded with those parameters) is

[2020-03-30 22:13] stefanocudini commented on #310
I am allergic to Java :)

many thanks for your patience! @nilsnolde && @jcoupey
is very very interesting to understand how these two tools ors + vroom work!

maybe I have not explained well my problem is much simpler.. from the docs I have not understood well where I can to insert the default parameters for my HGV profile.
I have this simple file(renamed in config.json but is the app.config of ors

[2020-03-31 06:43] nilsnolde commented on #310
That goes a little too much off-topic for vroom and I'd refer you to our forum: https://ask.openrouteservice.org. In short: no, that's not how you do it. You have to create it **in Java** and recompile the source, i.e. clone this and adapt: https://github.com/GIScience/openrouteservice/blob/master/openrouteservice/src/main/java/org/heigit/ors/routing/graphhopper/extensions/flagencoders/HeavyVehicl

[2020-03-31 11:16] stefanocudini commented on #310
I understood, thanks

[2020-03-31 14:32] stefanocudini opened #317 "job having amount zero executed?"
hi,
in my case study using VROOM trought _openrouteservice-py_ inside jupyter and optain this map that show amount value(random generate for each jobs) and capacity for each two vehicles that is 5
using this simple python code:
[code]
![vroo](https://user-images.githubusercontent.com/47107/78037673-25704b80-736c-11ea-9a6c-555cf30926a5.png)

the most logical solution of this problem is that it must

[2020-03-31 14:42] stefanocudini commented on #317
testing this problem on VROOM demo obtain same strange behaviour..
[code]

[2020-03-31 14:49] stefanocudini commented on #197
may e related to this https://github.com/VROOM-Project/vroom/issues/317

[2020-03-31 15:57] jcoupey commented on #317
Defining a job means you need to go at the given location to perform some action. The delivered amount has nothing to do with this, it just serves to impose capacity constraints based on what can fit in the vehicle.

In other words, having a job with 0 delivery/pickup is totally valid, think e.g. a situation with a service or maintenance task at that location.

If you want to avoid going at a plac

[2020-03-31 22:56] ankane opened #318 "brew install vroom"
Hi, thanks for this great library! Just wanted to let you know that it's now available on Homebrew for Mac users (no need to build from scratch).

[code]

Ref: https://github.com/Homebrew/homebrew-core/pull/52363

[2020-04-01 08:23] jcoupey commented on #318
Thanks @ankane for your contribution, I'll update the wiki build instructions to mention this!

Just a couple questions:

- can you confirm that the [depend rules](https://github.com/Homebrew/homebrew-core/pull/52363/files#diff-3f7cec3eedcc447300b515827338e583R7-R9) mean users won't have to bother about installing dependencies prior to running `brew install`?
- do you plan to upgrade the Homebrew

[2020-04-02 01:32] ankane commented on #318
Sounds good.

1. Homebrew will install all dependencies, so `brew install vroom` is all Mac users need to run.
2. I don't plan to follow releases, but it should be pretty straightforward if you'd like to make this part of the release process. You'll essentially just need to update the `url` and `sha256` lines. If you decide to do this, feel free to tag me for the first one and I can assist.

[2020-04-02 10:06] jcoupey commented on #318
Thanks for your answers.

It is indeed a small task but I can't commit to doing this myself for each new release. The release process is already demanding enough for me as it involves many benchmarking/testing in the background and some deployment work for my own use cases.

I gladly welcome contributions that make it easier for users to get started with the project, like this one or the ongoing w

[2020-04-02 22:59] jcoupey commented on #317
Closing as answered, feel free to reopen if required.

[2020-04-02 22:59] #317 closed

[2020-04-03 10:30] stefanocudini commented on #317
for now I have solved with the workaround you suggested, if someone in the future wants to attend the discussion it will be interesting

many thanks

[2020-04-03 10:33] jcoupey commented on #317
Technically this is not a workaround, as visiting jobs with `0` amount/delivery/pickup **is** expected behaviour.

[2020-04-03 23:31] ankane commented on #318
Sounds good, thanks @jcoupey!

[2020-04-03 23:31] #318 closed

[2020-04-06 10:21] stefanocudini commented on #317
yes sorry i was wrong to sayng: workaround

I have been studying vroom for a short time and I did not yet have in mind all the scenarios that it foresees, for example the pickup as well as the deliveries

[2020-04-11 20:01] romainrey opened #319 "Optimisation missing obvious solutions"
Hi,

I am using vroom and my solutions are often sub optimal and I can spot right away a better solution if I look at a map.
I am using vroom with 1000-1500 jobs and 30 vehicles. But my time windows are such that usually only 5 jobs can be assigned to a vehicles. I also have priorities among this jobs, priorities going from 1 to 5.
The solutions usually becomes better once I limit the number of ve

[2020-04-12 12:26] jcoupey commented on #319
First we provide no guarantee of optimality, so both of the above can definitely happen. What bothers me is if it does **and** we miss an obvious change that would improve the solution.

We have a range of local search operators that are applied in such a way that the provided solution should be free of some obvious *valid* changes: e.g. adding an unassigned job, moving a job from one route to ano

[2020-04-12 14:06] jcoupey opened #320 "Routing classes improvement"
There are a couple changes we could apply to the current classes describing the routing wrappers. The current `Wrapper` class does not provide any real benefit over its child class `RoutingWrapper`, expect that it allows to use a template parameter for `Matrix` (this is not actually used).

Also, there is some code duplication in `OsrmRoutedWrapper` and `OrsWrapper` because they both re-implement

[2020-04-12 16:36] #320 closed

[2020-04-16 17:02] trumboosahil opened #323 "Change the map from openstreet to HERE"
Can we change openstreet map to here map

[2020-04-16 17:32] jcoupey commented on #323
TL;DR currently not out-of-the-box, but it could be added with a bit of dev work.

Our optimization solving approach can use any underlying routing layer that's able to provide a matrix of travel times and detailed informations for a route with waypoints.

Then it comes down to writing a wrapper that takes care of the requests. We currently have one for OSRM and one for Openrouteservice (see [rout

[2020-04-16 17:47] romainrey commented on #319
Hi,

After discussing offline with Julien, here is a recap of the problem:

Use Case:
We want some vehicles to visit some shops to fix some machines. All of the fixes have different priorities:
- Some fixes have a deadline, but we can do them before, they are "maintenances". For those, the priority will be for example 1 if we are 3 months before the deadline, 2 if we are 2 months before, 3 if we a

[2020-04-16 18:09] trumboosahil commented on #323
Thanks a lot for your prompt response. [matrix](https://github.com/VROOM-Project/vroom/blob/master/docs/API.md#input ) . I have route matrix of two dimensional array.

Can i use vroom on windows on warp it in REST apis using Java or C#

[2020-04-16 19:37] jcoupey commented on #323
Correct.

If you go through the issues you'll find reports of some users that managed to setup the project under Windows. You might also consider using https://github.com/VROOM-Project/vroom-docker.

To expose the API, check out https://github.com/VROOM-Project/vroom-express/.

[2020-04-16 20:45] jcoupey commented on #312
Done in #322.

[2020-04-16 20:45] #312 closed

[2020-04-17 09:29] jcoupey commented on #319
First I can confirm that the suggested solution is indeed a valid one, and better both on priority and travel time, so we need to understand why we're not able to reach it. Here we'd need to remove a job from a route and replace it with an unassigned job.

Each local search round we perform applies to the set of jobs that are already included in routes (except if the time gain allows to add an ext

[2020-04-17 09:31] jcoupey opened #324 "Reach better solutions using unassigned jobs"
The job [removal/re-insertion strategy](https://github.com/VROOM-Project/vroom/blob/625eebff8b41d9effcc46c6e77ad4ba3c39d332c/src/algorithms/local_search/local_search.cpp#L1361-L1372) applied after each local search step was primarily designed to improve the way already assigned jobs where handled across multiple routes. It can also help improve the solution with regard to unassigned jobs, but fail

[2020-04-17 09:55] jcoupey opened #325 "Remove boost dependency?"
Now that we've removed the need for `boost::optional` in #312, the only remaining dependency we badly need is asio for queries to routing engines.

Currently we use the version of asio that is package within boost because it was already a dependency anyway and also the error catching relies on `boost::system::error_code`. Based on https://think-async.com/Asio/AsioStandalone.html and the second com

[2020-04-17 13:22] jcoupey commented on #311
One last problem is that when building against `libosrm` the `-std=c++14` flag is retrieved along with added flags when running:

[code]

So we end up with two conflicting values.

[2020-04-17 13:24] #311 closed

[2020-04-17 14:42] jcoupey commented on #325
A boost-free version is available over in #326 so I'll just wait a bit to see if anyone objects with dropping boost as a dependency, then merge it.

[2020-04-17 18:05] trumboosahil commented on #323
Can you please provide me the sample URL request for matrix as in put

[2020-04-17 19:31] trumboosahil commented on #323
What about the vehicles i have to provide the co-ordinates for it

[2020-04-17 19:58] trumboosahil opened #327 "Using Matrix with three vehcles response contains two vehcles only"
curl --header "Content-Type:application/json" --data '{"matrix":[[0,2,3,7,6,8],[4,0,6,5,8,10], [1,2,0,7,6,8], [4,11,16,0,10,9], [8,9,13,17,0,8], [2,10,16,5,8,0]],"vehicles":[{"id":0,"start_index":0},{"id":1,"start_index":0},{"id":2,"start_index":0}],"jobs":[{"id":0,"location_index":0},{"id":1,"location_index":1},{"id":2,"location_index":2},{"id":3,"location_index":3},{"id":4,"location_index":4},{"

[2020-04-17 19:58] #323 closed

[2020-04-17 20:08] jcoupey commented on #327
The response does not contains vehicles, but routes. It simply means that using two routes only rather than three is cheaper to handle your 6 jobs.

[2020-04-17 20:08] #327 closed

[2020-04-18 01:45] romainrey commented on #319
Thanks Julien for this analysis.
I'll track the new opened ticket,
By curiosity do you have any scope regarding when this would be address?
If I can help by any ways feel free to ask me for, I can probably provide more examples to test this issue once you have some solutions running

[2020-04-18 12:10] jcoupey commented on #319
@romainrey no timing or deadline for #324 so far. Tickets that is prioritized for the next release are usually gathered in [the next milestone](https://github.com/VROOM-Project/vroom/milestone/11). This is a direct result of what I find most useful for my own use-cases and clients.

There are several ways you can contribute: if you want to try something code-wise, I can give you a few pointers on

[2020-04-18 13:17] trumboosahil opened #328 "Want route based on number of vehicles"
This always give only one route when i put 3 vehicles
what do you expect in matrix travel time or distance

[code]

[2020-04-18 14:22] jcoupey commented on #328
This is similar to #327 because based on the constraints you provide in input (or lack of constraints), there is no need to use all 3 vehicles. We output only one route because doing everything with one vehicle is cheaper, so this is expected behaviour.

If you want to "force" using all vehicles, resulting in a more expensive solution, this has to be the result of constraints you provide in input,

[2020-04-18 14:22] #328 closed

[2020-04-18 14:28] jcoupey commented on #319
@romainrey note that this is occurring because your instances have both a distributed fleet with vehicles that potentially compete on a subset of jobs **and** many unassigned jobs.

A temporary workaround would be to split your problem into several sub-problems, one per vehicle zone. Because you have so many unassigned jobs, your vehicle zones only overlap theoretically so this would work in your

[2020-04-19 18:39] kubasienki opened #329 "Force all vehicles to be used"
Hi,
I've seen few issues about using only one vehicle when more than one is put.
I get it that it's expected behavior but I've seen it introduced briefly here: https://github.com/VROOM-Project/vroom/issues/97
and then removed soon later because of performance issues (and questionable validity).
But it would be great it there was a flag to force this behavior.

[2020-04-19 18:42] kubasienki commented on #329
I can't set rigid time windows and dividing jobs equally between vehicles (using capacity constants) discriminate cases where for ex. one driver would do some points much away while the others would do much more close to start.

[2020-04-20 07:38] jcoupey commented on #329
I guess you've already read https://github.com/VROOM-Project/vroom/issues/328#issuecomment-615879739.  The ticket you mention (#97) is different as it's about a situation with a distributed fleet where adding a vehicle that is closest to the jobs actually reduces overall travel time.

The way you model your problem through constraints is really what will impact the kind of solution you get. If peo

[2020-04-20 08:26] kubasienki commented on #329
I wasn't precise enough - What I meant that if not all vehicles are needed for the route, then probably some won't be used. So if two of the vehicles has enough capacity combined then the third won't do anything in most cases (or in all?).

Again I agree with your approach, just looking for some kind of _trick_ to make it working for me.

Is there any way to divide the work equally in time units o

[2020-04-20 08:30] kubasienki commented on #329
A great feature would be to select the cost function between the current cost impl and the time combined?

[2020-04-20 09:01] jcoupey commented on #329
Check the behaviour when adding vehicles on http://map.vroom-project.org/. Setting aside any other constraint, you always get as many routes as defined vehicles. The "fair share" is simply based on the number of stops (one per delivery) and vehicles. Setting a strict value is probably too restrictive, hence the `1.2` factor. You could also try applying this to any other "real" capacity value.

Set

[2020-04-20 09:04] kubasienki commented on #329
Thank you for great responses - keep it up :)

I've deleted my comment :D because I've realized my mistake.

Thanks again I'll tinker a bit

[2020-04-20 09:10] jcoupey commented on #329
Hope this helps! Please report if you manage to setup something that works for your use-case, so others will find suggestions when browsing issues.

[2020-04-20 17:19] jcoupey opened #330 "Add flexibility for job time windows handling"
Handling time windows for jobs works by storing additional data along routes, such as earliest and latest possible arrival dates at each step. Those are used to decide whenever a possible route change is feasible wrt timing constraints, and are updated each time a route is changed.

Currently, for a given job we [pick the first compatible time window](https://github.com/VROOM-Project/vroom/blob/c4

[2020-04-22 07:55] IsaacDm opened #331 "Solving a huge instance"
I am exploring Standalone problem instance to solve my VRP. I am able to create a duration matrix with the help of add_osrm_matrix.py file. But I don't know how to proceed further towards generating the routes using the matrix file the code has generated.

Any help is appreciated!

[2020-04-22 09:18] jcoupey commented on #331
The optimization choices are based on the knowledge of the travel time costs for getting from/to any location in the input. This means that we need a matrix of travel times prior to starting optimization work. There are two ways to get it:

1. `vroom` fires a request to a routing engine, using the coordinates passed in input
2. users provide a custom `matrix`, and then every location passed in inp

[2020-04-23 13:57] jwld opened #332 "Seeing "too many table coordinates" OSRM error when using vroom-express server"
Stress-testing our routing logic and seeing the following error:
[code]

This is with 539 jobs.

We're using `vroom-express` and I can see in the `config.yml` that `maxLocations` is defaulted to 1000. Is there a setting I'm missing somewhere? Or is there a hard upper limit with vroom?

[2020-04-23 14:07] jcoupey commented on #332
There is no upper limit if you use `vroom` on the command-line. The purpose of the `vroom-express` parameter you point out is precisely to handle this kind of limitation when receiving requests.

The problem you're facing is OSRM-related as the error message you're seeing is just `vroom` reporting the error sent by OSRM. If you're running `osrm-routed`, you need to raise the max size for `table` r

[2020-04-23 16:37] jwld commented on #332
Thanks, makes sense!

Found it quite hard to find the relevant flags, but there's a list of them [here](https://github.com/Project-OSRM/osrm-backend/issues/5022#issuecomment-493959313) if anyone else comes across this.

[2020-04-23 16:37] #332 closed

[2020-04-23 17:30] jcoupey opened #333 "TSP code called with shipments"
The old TSP code-base [is still called](https://github.com/VROOM-Project/vroom/blob/c45754eef74b5e7537b718314a4c3d0795be0245/src/problems/cvrp/cvrp.cpp#L143-L155) when we encounter a specific case of CVRP that has only one vehicle, no skills and no amount.

This was fine when we only had `jobs` in input. But now when inputting a problem with `shipments` (and only one vehicle, no skills and no amou

[2020-04-23 17:33] jcoupey commented on #333
This is actually a one-line fix:

[code]

So I don't think it's worth doing a patched `v1.6.1` release. I'll just let this ticket open for reference until `v1.7.0` is released.

[2020-04-23 20:14] trumboosahil opened #334 "Design and Architecture of project"
1. What algorithms are used in the project.
2. If want built .net version. Will that be achievable.
3. Does it uses some specific functions of C++ that are not available in .net

Your input will be appreciated

[2020-04-24 08:03] jcoupey commented on #334
Do you mean "how does the solving approach works"? Or rather "what are the dependency for the project"?

I have no knowledge of .net so I wouldn't be able to comment much. If you aim at building the project on Windows, then I know of a couple users that have done that successfully (please browse closed tickets for more insights). If you want to use the C++ code directly, then please check #42 and

[2020-04-24 09:02] trumboosahil commented on #334
Yes i mean how does the solving approach work?

[2020-04-24 09:47] jcoupey commented on #334
I should get around to writing a more comprehensive explanation about this and push it to the wiki, but the short answer is:

1. We apply [heuristic approaches](https://github.com/VROOM-Project/vroom/blob/master/src/algorithms/heuristics/solomon.cpp) to find some initial solutions (starting from scratch, decide what vehicle's route to fill next, then decide incrementally what jobs to include in th

[2020-04-24 16:07] IsaacDm commented on #331
Thanks for responding so quickly. I am able to build the application and am able to generate output. But, I was wondering about the maximum vehicles and jobs that can be optimized?

[2020-04-24 16:55] jcoupey commented on #331
There is no limit actually, unless you feed really huge problems and are time-constrained to get a solution. You'll probably be fine if you stay in the hundreds (and even more) anyway.

What is the typical size of the problems you plan to solve?

If scaling is an issue at some point, you want to look at the `-t` option to have more things done in parallel (if your system has enough threads availab

[2020-04-24 17:08] IsaacDm commented on #331
I'm having more than 150 vehicles starting from various locations and serving jobs at close to 40000 locations. When I'm trying to generate matrix with the 'add_osrm_matrix.py', it throws a KeyError: 'durations'

But when i reduce the count of vehicles and jobs, the matrix is generated without any problem.

[2020-04-24 17:57] jcoupey commented on #331
Ahah serious stuff then. I get it why you wish to pre-compute the matrix only once. The way the solving approach will scale in your case highly depends on how the problem and the constraints are set. For example if from each of the vehicles, most jobs are unreachable, then it will tend to speed-up things.

My guess is that you're going over the max size that your OSRM instance will handle, hence a

[2020-04-24 18:12] IsaacDm commented on #331
Thanks for the detailed answer. Where can I find the --max-table-size command-line arg in the application?

[2020-04-24 19:38] jcoupey commented on #331
The 100 limit is the default on the `osrm-routed` side, that's what `--max-table-size` is for. See `osrm-routed -h` for all options.

[2020-04-27 13:31] IsaacDm commented on #331
I got it, thanks. I have been able to generate 2k*2k duration_matrix using add_osrm_matrix.py script. However, when I using ./bin/vroom to resolve the problem for optimized routes, it's throwing
### "[Error] std::bad_alloc"

Apparently it is memory allocation exception with in the code. Could you please suggest a fix. Thank you

[2020-04-27 17:05] jcoupey commented on #331
This error indeed means you're reaching some limit while trying to allocate memory. The matrix seems like a good candidate for running into this kind of trouble but I'm surprised it happens with a "small" 2000*2000 matrix. Did you try smaller matrices? How much RAM do you have?

It's not really possible to do debugging without the input file, can you share it somehow? Or alternatively you might ha

[2020-04-28 08:15] IsaacDm commented on #331
I'm able to solve smaller matrices without any issue. Problems with bigger matrices are giving me {"code":1,"error":"std::bad_alloc"}. I have ram of total 256GB.

[2020-04-28 08:36] jcoupey commented on #331
Given your amount of RAM, there is probably something else happening. What I'd do in the first place would be:

- build `vroom` with debug symbols (replace `-O3` with `-O0 -g -ggdb` on [this line](https://github.com/VROOM-Project/vroom/blob/0eb07fb64588ecbad61ab3c89a48329950b61440/src/makefile#L8))
- run with `gdb` and get a backtrace of the error:

[code]

[2020-04-28 09:05] IsaacDm commented on #331
I will try this and update you. Thanks

[2020-04-28 11:28] IsaacDm commented on #331
Here is my input file:

https://techwaveinc-my.sharepoint.com/:f:/g/personal/isaac_dm_techwave_net/Eot3l4ulWSBOkUOufuRcZmUB7JVTq0pG8cQRSC9BV7eu2w?e=vbi5qA

[2020-04-28 13:09] jcoupey commented on #331
Unfortunately I'm unable to download the above file. The download from the website always randomly stops at some point, not reaching the total size of the file, and I get a truncated file...

[2020-04-28 17:13] IsaacDm commented on #331
I'm unable to build it with the suggested modifications. Getting the following error:
make
mkdir -p ../bin
g++ -MMD -MP -I. -std=c++17 -Wextra -Wpedantic -Wall -O0 -g -ggdb -o ../bin/vroom main.o algorithms/munkres.o algorithms/kruskal.o algorithms/local_search/operator.o algorithms/local_search/local_search.o algorithms/heuristics/solomon.o routing/ors_wrapper.o routing/osrm_routed_wrapper.o rout

[2020-04-28 17:29] jcoupey commented on #331
This is not related to the changes you've performed but probably to the fact that you have a `g++` version that does not support this flag. You can either:

- use a more recent version of `g++`
- checkout the latest VROOM release `v1.6.0`, it's still using c++14

[2020-04-29 10:47] IsaacDm commented on #331
[‎4/‎29/‎2020 3:30 PM]
No Title
(gdb) run -i fot_bu_matrix_2k.json -o fot_bu_matrix_2k_output.json
Starting program: /home/centos/vroomApp/vroom/bin/vroom -i fot_bu_matrix_2k.json -o fot_bu_matrix_2k_output.json
[Thread debugging using libthread_db enabled]
Using host libthread_db library "/lib64/libthread_db.so.1".
[Error] std::bad_alloc
[Inferior 1 (process 10507) exited with code 01]
Missing se

[2020-04-29 13:28] jcoupey commented on #331
You should get additional info when asking for a backtrace of the error (`bt` instruction on the last `(gdb)` prompt).

[2020-04-30 08:31] jcoupey opened #335 "Revamp readme"
The current readme is, hum, quite sparse on information. Considering this is the entry point for the project on GitHub, it should be improved to contain more high-level information and pointers to other resources. What should be added:

- supported problem types
- more detail on features
- supported routing engines
- the kind of tests we have in place (CI builds, runs on various benchmarks)
- more

[2020-04-30 08:35] nilsnolde commented on #335
+1000 :)

Also it's confusing that there's a `docs` directory where the API is documented, which IMHO belongs in the wiki. I look at that like 3 times a year and can never find it;)

[2020-04-30 08:48] jcoupey commented on #335
I think it makes sense that the API documentation is somehow versioned along with the code so it's always consistent with whatever version is checked out. Maybe what you point out comes down to making things more clear from the wiki?

Currently the [Usage](https://github.com/VROOM-Project/vroom/wiki/Usage) page on the wiki simply links to specific versions for the docs. One option would be to have

[2020-04-30 08:57] nilsnolde commented on #335
Yeah, you're right of course.

OMG, I really am blind.. That's my bad, sorry. Maybe just not "TL;DR", but API documentation as header. Then even I might see that there's actually a link to it;)

[2020-04-30 09:42] IsaacDm commented on #331
[centos@ip-172-31-25-171 ~]$ cd vroomApp/vroom/bin
[centos@ip-172-31-25-171 bin]$ gdb vroom
GNU gdb (GDB) Red Hat Enterprise Linux 7.6.1-119.el7
Copyright (C) 2013 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.  Type

[2020-04-30 09:55] jcoupey commented on #331
You're missing stuff to do effective debugging. Looks like you need to do something similar as in the first answer of [this SO post](https://stackoverflow.com/questions/10389988/missing-separate-debuginfos-use-debuginfo-install-glibc-2-12-1-47-el6-2-9-i686).

[2020-04-30 13:11] IsaacDm commented on #331
Hi @jcoupey, I think I have fix the issue with in the add_osrm_matrix.py code and generated a new input table of various sizes ranging from 200 to 2000. VROOM is able to solve 200 table matrix in few seconds, 400 in less than a minute and 1000,1200 size matrices took more than 20 minutes to solve. Now I'm running 2k*2k and it has been running for the past 1.5 hours - no result yet.

Is there a way

[2020-04-30 13:58] jcoupey commented on #331
You mean you fixed the `std::bad_alloc` error? Could you expand a bit on how you did it, because this is maybe something we can use to improve error handling.

[2020-04-30 14:29] IsaacDm commented on #331
Firstly, add_osrm_matrix.py file wasn't able to generate duration_matrix. It was throwing JSON_serializable error. I fixed it by modifying the code as the following:
Old: data['matrix'].append(map(lambda d: round_to_cost(d), line))
New:  data['matrix'].append([round_to_cost(d) for d in line])

Later, I have observed that if the duration between two locations would be returned as 'None' if there is

[2020-04-30 15:12] jcoupey commented on #331
Thanks for the further information. So if I get it correctly, `vroom` was unable to issue a clear error when inputting a matrix with incorrect size/structure? Then we should fix this. We normally have checks for matrix line sizes and I don't seem to be able to reproduce the error. Could you share a small reproducible example now that you understood the problem?

There are two built-in parameters y

[2020-04-30 17:06] IsaacDm commented on #331
Thanks a lot! 32 threads have brought the processing time to less than 15 min. But I need it way too much faster. Because my full scaled matrix would be of 40k*40K size and I need to iterate this process multiple times.

Thanks again for you support!